@model SocialShare.Mvc.Models.SocialShareModel
@using SocialShare.SocialShareHelpers

<ul class="list-inline s-social-share-list">
@foreach (var button in Model.SocialButtons)
{
    switch (button.ButtonName)
    {
        case "Facebook":
            <li>@Html.FacebookButton(button.DisplayCounters, button.BigSize, button.AddText)</li>
            break;
        case "Twitter":
            <li>@Html.TwitterButton(button.DisplayCounters, button.BigSize, button.AddText)</li>
            break;
        case "LinkedIn":
            <li>@Html.LinkedInButton( button.DisplayCounters)</li>
            break;
        case "GooglePlusOne":
            <li>@Html.GooglePlusOneButton(button.DisplayCounters, button.BigSize, button.AddText)</li>
            break;
        case "Blogger":
            <li>@Html.BloggerButton(button.AddText)</li>
            break;
        case "Delicious":
            <li>@Html.DeliciousButton(button.AddText)</li>
            break;
        case "Tumblr":
            <li>@Html.ThumblerButton(button.AddText)</li>
            break;
        case "GoogleBookmarks":
            <li>@Html.GoogleBookmarksButton(button.AddText)</li>
            break;
        case "Digg":
            <li>@Html.DiggButton(button.AddText)</li>
            break;
        case "MySpace":
            <li>@Html.MySpaceButton(button.AddText)</li>
            break;
        case "StumbleUpon":
            <li>@Html.StumbleUponButton(button.AddText)</li>
            break;
        case "Reddit":
            <li>@Html.RedditButton(button.AddText)</li>
            break;
        default:
            break;                   
    }
}
</ul>