@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.DropdownListField.DropdownListFieldViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass" data-sf-role="dropdown-list-field-container">
    <input type="hidden" data-sf-role="violation-messages" value='{ "required": "@Model.RequiredViolationMessage"}' />
    <label for='@Html.UniqueId("Dropdown")'>@Model.MetaField.Title</label>
        
        @if (!string.IsNullOrEmpty(Model.MetaField.Description)) 
        {
           <p>@Model.MetaField.Description</p>
        }
        
        <select id='@Html.UniqueId("Dropdown")' data-sf-role="dropdown-list-field-select" name="@Model.MetaField.FieldName" @MvcHtmlString.Create(Model.ValidationAttributes)>
        @foreach (var choice in Model.Choices)
        {
            var optionAttributes = !Model.IsRequired && choice == Model.MetaField.DefaultValue as string ? "selected" : string.Empty;
            var optionValue = Model.IsRequired && choice == Model.Choices.FirstOrDefault() ? string.Empty : choice;

            <option @optionAttributes value="@optionValue">@choice</option>
        }
        </select>
    
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/DropdownListField/dropdown-list-field.js"), "bottom", false)