@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <fieldset class="form-group" ng-disabled="properties.AllowWindowsStsLogin.PropertyValue.toLowerCase() === 'true'">
        <div class="form-group">
            <label>@Html.Resource("LoginPage")</label>
            <p class="description-note">@Html.Resource("LoginPageInfo")</p>
            <sf-list-selector sf-page-selector
                              sf-selected-item-id="properties.LoginPageId.PropertyValue"></sf-list-selector>
        </div>

        <div class="form-group" ng-disabled="properties.AllowWindowsStsLogin.PropertyValue">
            <label>@Html.Resource("RegistrationPage")</label>
            <p class="description-note">@Html.Resource("RegistrationPageInfo")</p>
            <sf-list-selector sf-page-selector
                              ng-disabled="properties.AllowWindowsStsLogin.PropertyValue"
                              sf-selected-item-id="properties.RegistrationPageId.PropertyValue"></sf-list-selector>
        </div>
    </fieldset>

    <div class="form-group">
        <label>@Html.Resource("LogoutPageInfo")</label>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.LogoutPageId.PropertyValue"></sf-list-selector>
    </div>

    <div class="form-group">
        <label>@Html.Resource("ProfilePage")</label>
        <p class="description-note">@Html.Resource("ProfilePageInfo")</p>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.ProfilePageId.PropertyValue"></sf-list-selector>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="templateName">@Html.Resource("Template")</label>
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("LoginStatus", @"LoginStatus\.(?<viewName>\w*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <strong>@Html.Resource("Advanced")</strong>
        <div class="checkbox">
            <label for="stsCheckbox">
                <input id="stsCheckbox" type="checkbox" ng-true-value="'True'" ng-model="properties.AllowWindowsStsLogin.PropertyValue" />
                @Html.Resource("LoginWinSts")
                <a href='@Html.Resource("ExternalLinkLoginTokenService")' target="_blank">@Html.Resource("LearnMore")</a>
            </label>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

        <div class="form-group">
            <label for="loginStatusCssClass">@Html.Resource("CssClasses")</label>
            <input type="text" id="loginStatusCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>