@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginStatus.LoginStatusViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery)

<div class="@Model.CssClass">
    <div class="sf-logged-in-view" style="display: none">
        <span>Logged as </span>
        <a href="@(Model.ProfilePageUrl ?? "#")" class="sf-logged-in-name"></a>
        <a class="sf-logged-in-log-out-btn">Logout</a>
    </div>

    <div class="sf-logged-out-view" style="display: none">
        <a href="@(Model.LoginPageUrl ?? "#")">Login</a>
        <a href="@(Model.RegistrationPageUrl ?? "#")">Register now</a>
    </div>
</div>

<input type="hidden" class="sf-status-json-endpoint-url" value="@Url.Action("Status")"/>
<input type="hidden" class="sf-logout-redirect-url" value="@Model.LogoutPageUrl"/>
<input type="hidden" class="sf-is-design-mode-value" value="@ViewBag.IsDesignMode.ToString()" />

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginStatus/login-status.js"))