@model Telerik.Sitefinity.Frontend.Publishing.Mvc.Models.FeedViewModel

@using Telerik.Sitefinity.Frontend.Publishing.Mvc.Models;

<div class="@Model.CssClass">
@if (Model.InsertionOption == FeedInsertionOption.PageOnly || Model.InsertionOption == FeedInsertionOption.PageAndAddressBar)
{
    <a href="@Model.Url" title="@Model.Tooltip" @(Model.OpenInNewWindow ? "target=_blank" : "")>@Model.Title</a>
}
</div>