@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.ChangePassword.ChangePasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.PasswordChanged)
    {
        <h3>@Html.Resource("ChangePasswordSuccess")</h3>
    }
    else
    {
        <h3>@Html.Resource("ChangePasswordHeader")</h3>
        
        if (!string.IsNullOrEmpty(Model.ExternalProviderName))
        {
            <div>
                @string.Format(Html.Resource("ExternalProviderMessage"), Model.ExternalProviderName)
            </div>
        }
        else
        { 
            using (Html.BeginFormSitefinity("SetChangePassword", "ChangePassword"))
            {
                <div>@Model.Error</div>
    
                <div>
                    <label>
                        @Html.Resource("ChangePasswordOldPassword")
                        @Html.PasswordFor(u => u.OldPassword)
                    </label>
                </div>
                <div>
                    <label>
                        @Html.Resource("ChangePasswordNewPassword")
                        @Html.PasswordFor(u => u.NewPassword)
                    </label>
                </div>
                <div>
                    <label>
                        @Html.Resource("ChangePasswordRepeatPassword")
                        @Html.PasswordFor(u => u.RepeatPassword)
                    </label>
                </div>    
            
                <div><input type="submit" value='@Html.Resource("ChangePasswordSaveButton")' /></div> 
            }
        }
    }
</div>

