@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.ChangePassword.ChangePasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.PasswordChanged)
    {
        <h3>@Html.Resource("ChangePasswordSuccess")</h3>
    }
    else
    {
        <h3>@Html.Resource("ChangePasswordHeader")</h3>
        
        using (Html.BeginFormSitefinity("SetChangePassword", "ChangePassword", null, FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "aria-label", @Html.Resource("ChangePasswordHeader") } }))
        {
            if (!string.IsNullOrEmpty(Model.Error))
            {
                <div tabindex="0" role="alert">@Model.Error</div>                
            }
    
            <div>
                <label>
                    @Html.Resource("ChangePasswordOldPassword")
                    @Html.PasswordFor(u => u.OldPassword, new { aria_required = "true" })
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("ChangePasswordNewPassword")
                    @Html.PasswordFor(u => u.NewPassword, new { aria_required = "true" })
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("ChangePasswordRepeatPassword")
                    @Html.PasswordFor(u => u.RepeatPassword, new { aria_required = "true" })
                </label>
            </div>    
            
           <div><input type="submit" value='@Html.Resource("ChangePasswordSaveButton")' /></div> 
        }
    }
</div>
