@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.ChangePassword.ChangePasswordViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.PasswordChanged)
    {
        <h3>@Html.Resource("ChangePasswordSuccess")</h3>
    }
    else
    {
        <h3>@Html.Resource("ChangePasswordHeader")</h3>
        
        using (Html.BeginForm("SetChangePassword", "ChangePassword"))
        {
            <div>@Model.Error</div>
    
            <p>
                <label>
                    @Html.Resource("ChangePasswordOldPassword")
                    @Html.PasswordFor(u => u.OldPassword)
                </label>
            </p>
            <p>
                <label>
                    @Html.Resource("ChangePasswordNewPassword")
                    @Html.PasswordFor(u => u.NewPassword)
                </label>
            </p>
            <p>
                <label>
                    @Html.Resource("ChangePasswordRepeatPassword")
                    @Html.PasswordFor(u => u.RepeatPassword)
                </label>
            </p>    
            
           <p><input type="submit" value='@Html.Resource("ChangePasswordSaveButton")' /></p> 
        }
    }
</div>

