@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <div class="form-group">
        <strong>@Html.Resource("PasswordChangeCompleteAction")</strong>
        <div class="radio">
            <label for="passwordChangedShowMessageBtn">
                <input id="passwordChangedShowMessageBtn" type="radio" ng-model="properties.ChangePasswordCompleteAction.PropertyValue" value="ShowMessage" />
                @Html.Resource("PasswordChangeShowMessage")
            </label>
        </div>
        <div class="radio">
            <label for="passwordChangedRedirectToPage">
                    <input id="passwordChangedRedirectToPage" type="radio" ng-model="properties.ChangePasswordCompleteAction.PropertyValue" value="RedirectToPage" />
                @Html.Resource("PasswordChangeRedirectToPage")
            </label>
        </div>
        <div ng-show="properties.ChangePasswordCompleteAction.PropertyValue === 'RedirectToPage'">
            <sf-list-selector
                class="label-content"
                sf-page-selector
                sf-selected-item-id="properties.ChangePasswordRedirectPageId.PropertyValue"></sf-list-selector>
        </div>
    </div>
        
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="templateName">@Html.Resource("Template")</label>
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("ChangePassword", @"ChangePassword\.(?<viewName>\w*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

        <div class="form-group">
            <label for="changePasswordStatusCssClass">@Html.Resource("CssClasses")</label>
            <input type="text" id="changePasswordStatusCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>
