@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.FormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

<div data-sf-role="form-container" class="@Model.CssClass">
    <input type="hidden" data-sf-role="form-id" value="@Model.FormId" name="FormId" />
    <input type="hidden" data-sf-role="marketo-settings" value="@Model.MarketoSettings" name="MarketoSettings" />

    @{
        if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert" aria-live="assertive">@ViewBag.ErrorMessage</div>
        }

        if (Model.UseAjaxSubmit)
        {
            <span data-sf-role="success-message" style="display: none;">@Model.SuccessMessage</span>
            <div data-sf-role="general-error-message" class="alert alert-danger my-3" style="display: none;"></div>
            <img data-sf-role="loading-img" src='@Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Themes.Light.Images.Loadings.sfLoadingData.gif")' alt="Loading animation" style="display:none;" />
            <div data-sf-role="fields-container">
                @* Fields Markup *@
                @Html.AddSitefinityAntiforgeryToken()
            </div>
        }
        else
        {
            using (Html.BeginFormSitefinity("", null, (System.Web.Routing.RouteValueDictionary)null, FormMethod.Post, Model.HtmlAttributes, true))
            {
                @* Fields Markup *@
                @Html.AddSitefinityAntiforgeryToken()
            }
        }

        if (Model.UseAjaxSubmit)
        {
            <input type="hidden" data-sf-role="ajax-submit-url" value="@Model.AjaxSubmitUrl" />
            <input type="hidden" data-sf-role="redirect-url" value="@Model.RedirectUrl" />
            <input type="hidden" data-sf-role="widget-id" value="@ViewBag.WidgetId" name="WidgetId" />
            @Html.Script(ScriptRef.JQuery, "top", false)
            @Html.Script(Url.WidgetContent("Mvc/Scripts/Form/form.all.js"), "bottom", false)
        }
    }
</div>
