@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using ServiceStack.Text;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Frontend.Events.Mvc.Controllers;
@using Telerik.Sitefinity.Services;

@Html.StyleSheet("http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css", "head")
@if (Html.ShouldRenderInlineEditing() || SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
{
    @Html.StyleSheet("http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.bootstrap.min.css", "bottom")
}
else { 
    @Html.StyleSheet("http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.bootstrap.min.css", "head")
}
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.KendoAll, "top", false)

<div data-sf-role="scheduler-wrapper" 
    data-sf-controller-model='@Html.Raw(JsonSerializer.SerializeToString(((EventController)Html.ViewContext.Controller).Model))'
    data-sf-controller-events='@Url.Content("~/web-interface/events")'
    data-sf-controller-calendars='@Url.Content("~/web-interface/calendars")'
    data-sf-loaded='false'
    data-sf-calendarlist-class-active='active'>
    <div data-sf-role="calendarlist" style="display: none;">
        <h4 class="sf-calendarList-title">@Html.Resource("Calendars")</h4>
    </div>
    <div data-sf-role="scheduler"></div>
	<script data-sf-role="event-alldayeventtemplate" type="text/x-kendo-tmpl">
		<div class="sf-event-item">
            <div style="background-color: #= data.Color #"></div>
			<a href="@ViewBag.DetailsPageUrl#= eventUrl #">#= title #</a>
		</div>
    </script>
    <script data-sf-role="event-eventtemplate" type="text/x-kendo-tmpl">
		<div class="sf-event-item">
            <div style="background-color: #= data.Color #"></div>
			<a href="@ViewBag.DetailsPageUrl#= eventUrl #">#= title #</a>
		</div>
    </script>
    <script data-sf-role="event-calendarlist-template-wrapper" type="text/x-kendo-tmpl">
        <div data-sf-role="calendarlist-wrapper">
            <div data-sf-role="calendarlist-item" class="sf-calendarList-item active">@Html.Resource("AllEvents")</div>
        </div>
    </script>
    <script data-sf-role="event-calendarlist-template-item" type="text/x-kendo-tmpl">
        <div data-sf-role="calendarlist-item" class="sf-calendarList-item" data-sf-id="#= calendarId #"><span class="sf-event-type" style="background-color: #= color #;"></span>#= title #</div>
    </script>
</div>
@if (SystemManager.IsDesignMode)
{
    var scriptUrl = Url.WidgetContent("Mvc/Scripts/Event/scheduler-events.js");
    var queryAddition = scriptUrl.Contains("?") ? "&" : "?"; 
    var fullScriptUrl = scriptUrl + queryAddition + string.Format("_={0}", DateTime.UtcNow.Ticks.ToString());
    <script type="text/javascript" src='@fullScriptUrl'></script>
}
else
{
    @Html.Script(Url.WidgetContent("Mvc/Scripts/Event/scheduler-events.js"), "bottom", false)
}