@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@model ContentBlock.Mvc.Models.ContentBlockModel

<div class="dialog" modal dialog-controller="contentSelectorCtrl">
    <script type="text/ng-template" id="dialog-template">
        <div class="modal-header">
            <button type="button" class="close" ng-click="Cancel()" aria-hidden="true">&times;</button>
            <h1 class="modal-title">@Html.Resource("SelectSharedContent")</h1>
        </div>
        <div class="modal-body">
            <div ng-show="ShowError" class="alert alert-danger">
                <a class="close" data-dismiss="alert" ng-click="HideError()">x</a>
                <strong>@Html.Resource("Error")</strong> <span ng-bind="ErrorMessage"></span>
            </div>

            <provider-selector manager-type="Telerik.Sitefinity.Modules.GenericContent.ContentManager" 
                provider-label='@Html.Resource("Provider")'
                ng-model="filter.providerName">
            </provider-selector>
        
            <div ng-show="ShowLoadingIndicator" class="s-loading m-bottom-sm"></div>

            <div ng-show="IsListEmpty" class="alert alert-info">@Html.Resource("NoItemsHaveBeedCreatedYet")</div>
            <div ng-hide="IsListEmpty">
                <div class="input-group m-bottom-sm">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    <input type="text" ng-model="filter.search" class="form-control" placeholder='@Html.Resource("NarrowByTyping")' />
                </div>
                <div class="list-group s-items-list-wrp">
                    <a href="#" ng-repeat="item in ContentItems"
                            ng-class="{'list-group-item':true, 'active': item.Id==SelectedContentItem.Id }" 
                            ng-click="ContentItemClicked($index, item)"> 
                        <span ng-bind="item.Title"></span>
                    </a>
                </div>
                <div ng-hide="ContentItems.length">@Html.Resource("NoItemsFound")</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-hide="IsListEmpty" class="btn btn-primary" ng-click="SelectSharedContent()">@Html.Resource("DoneSelecting")</button>
            <button type="button" class="btn btn-link" ng-click="Cancel()">@Html.Resource("Cancel")</button>
        </div>
    </script>
</div>

<input type="hidden" id="contentItemServiceUrl" value='@Url.Content("~/Sitefinity/Services/Content/ContentItemService.svc/")' />

<input type="hidden" id="defaultProviderName" value='@Html.DefaultProviderName(Model.ContentManager)' />
<input type="hidden" id="providerDataServiceUrl" value='@Url.Content("~/Sitefinity/Services/DataSourceService/")' />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href='@Url.WidgetContent("Mvc/Scripts/Bootstrap/css/bootstrap.min.css")'>
<!-- Optional theme -->
<link rel="stylesheet" href='@Url.WidgetContent("Mvc/Styles/sitefinity-theme.min.css")'>

<script src='@Url.WidgetContent("Mvc/Scripts/Designer/modal-dialog.js")'></script>
<script src='@Url.WidgetContent("Mvc/Scripts/ContentBlock/shared-content-services.js")'></script>
<script src='@Url.WidgetContent("Mvc/Scripts/data-providers.js")'></script>
<script src='@Url.WidgetContent("Mvc/Scripts/ContentBlock/content-selector.js")'></script>