@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<server-data default-provider-name='@Html.DefaultProviderName(Telerik.Sitefinity.Modules.News.NewsManager.GetManager())'>
</server-data>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#content" role="tab" data-toggle="tab">@Html.Resource("Content")</a></li>
  <li><a href="#listSettings" role="tab" data-toggle="tab">@Html.Resource("ListSettings")</a></li>
  <li><a href="#itemSettings" role="tab" data-toggle="tab">@Html.Resource("SingleItemSettings")</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="content">
        <provider-selector manager-type="Telerik.Sitefinity.Modules.News.NewsManager" 
            provider-label='@Html.Resource("Provider")'
            ng-model="properties.ProviderName.PropertyValue">
        </provider-selector>

        <h2>@Html.Resource("NewsToDisplay")</h2>

        <ul class="form-group">
            <li class="radio">
                <input id="allNews" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="AllNews" />
                <label for="allNews">@Html.Resource("AllPublishedNews")</label>
            </li>
            <li class="radio">
                <input id="selectedNews" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="SelectedNews" />
                <label for="selectedNews">@Html.Resource("SelectedNews")
                    <content-selector ng-show="properties.SelectionMode.PropertyValue=='SelectedNews'"
                                      item-type="Telerik.Sitefinity.News.Model.NewsItem"
                                      item-provider="properties.ProviderName.PropertyValue"
                                      selected-item-id ="properties.SelectedNewsId.PropertyValue"></content-selector>
                </label>
            </li>
            <li class="radio">
                <input id="filterNews" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="FilteredNews" />
                <label for="filterNews">@Html.Resource("NarrowSelection")
                    <div class="checkbox">
                        <input id="tagFilter" type="checkbox" ng-disabled="properties.SelectionMode.PropertyValue!='FilteredNews'"/>
                        <label for="tagFilter">  
                             @Html.Resource("Tags")     
                        </label>
                    </div>
                </label>
            </li>
        </ul>
    </div>


    <div class="tab-pane" id="listSettings">
        <ul class="form-group">
            <li class="radio">
                <input id="usePaging" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Paging" />
                <label for="usePaging">@Html.Resource("UsePaging")</label>
                <span>@Html.Raw(String.Format(Html.Resource("DivideToItemPerPage"),
                    "<input type='text' ng-disabled='properties.DisplayMode.PropertyValue!=\"Paging\"' ng-model='properties.ItemsPerPage.PropertyValue'/>"))</span>
            </li>
            <li class="radio">
                <input id="useLimit" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Limit" />
                <label for="useLimit">@Html.Resource("UseLimit")</label>
                <span>@Html.Raw(String.Format(Html.Resource("ShowLimitedItems"),
                    "<input type='text' ng-disabled='properties.DisplayMode.PropertyValue!=\"Limit\"' ng-model='properties.ItemsPerPage.PropertyValue'/>"))</span>
            </li>
            <li class="radio">
                <input id="allItems" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="All" />
                <label for="allItems">@Html.Resource("NoLimitPaging")</label>
                <span>@Html.Resource("ShowAllItems")</span>
            </li>
        </ul>

        <div  class="form-group">
            <label for="sortOptions">@Html.Resource("SortNews")</label> 

            <select id="sortOptions" ng-model="properties.SortExpression.PropertyValue" class="form-control">
                <option value="PublicationDate DESC"> @Html.Resource("LastPublished")</option>
                <option value="LastModified DESC"> @Html.Resource("LastModified")</option>
                <option value="Title ASC"> @Html.Resource("ByTitleAZ")</option>
                <option value="Title DESC"> @Html.Resource("ByTitleZA")</option>
            </select>
        </div>

        <div  class="form-group">
            <label for="newsTemplateName">@Html.Resource("ListTemplate")</label> 

            <select id="newsTemplateName" ng-model="properties.ListTemplateName.PropertyValue" class="form-control">
                 @foreach (var viewName in Html.GetViewNames("News", @"List\.(?<viewName>\w*)$"))
                 { 
                     <option value="@viewName"> @viewName</option>
                 }
            </select>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="navCssClass" ng-model="properties.ListCssClass.PropertyValue" class="form-control" />
            </div>
        </expander>
    </div>


    <div class="tab-pane" id="itemSettings">
        <div  class="form-group">
            <label for="newsTemplateName">@Html.Resource("DetailTemplate")</label> 

            <select id="newsTemplateName" ng-model="properties.DetailTemplateName.PropertyValue" class="form-control">
                 @foreach (var viewName in Html.GetViewNames("News", @"Detail\.(?<viewName>\w*)$"))
                 { 
                     <option value="@viewName"> @viewName</option>
                 }
            </select>
        </div>
        <expander expander-title='@Html.Resource("MoreOptions")'>
            <div class="form-group">
                <label for="newsCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="newsCssClass" ng-model="properties.DetailCssClass.PropertyValue" class="form-control" />
            </div>
        </expander>
    </div>

</div>