@model News.Mvc.Models.INewsModel

@using News.Mvc.Models;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;


<div class="@Model.DetailCssClass" @Html.InlineEditingAttributes(Model.ProviderName, "Telerik.Sitefinity.News.Model.NewsItem", Model.DetailItem.Id)>
    <h3>
        @Html.TextField("Title", Model.DetailItem.Title, "ShortText")
    </h3>

    <div class="text-muted">
        @Model.DetailItem.PublicationDate.ToLocal().ToString("MMM d, yyyy, hh:mm tt")
        @Html.Resource("By")
        @DataResolver.Resolve(@Model.DetailItem, "Author", null)
    </div>

        @Html.Raw(Html.TextField( "Summary", Model.DetailItem.Summary, "LongText"))

        @Html.Raw(Html.TextField( "Content", Model.DetailItem.Content, "LongText"))

    
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }
</div>