@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList.UserDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Security.Claims;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList;

@{
    bool isAuthenticated = false;

    var user = ClaimsManager.GetCurrentIdentity();
    if (user != null)
    {
        isAuthenticated = user.IsAuthenticated;
    }
}

<div class="@Model.CssClass">
    @if (isAuthenticated)
    {
        <img src="@(((SitefinityProfileItemViewModel)Model.Item).AvatarImageUrl)" alt="@Model.Item.Fields.FirstName" width="100" height="100" />
        <h3>@Html.HtmlSanitize((Model.Item.DataItem as SitefinityProfile).GetUserDisplayName())</h3>
        <p>@((Model.Item.DataItem as SitefinityProfile).User.Email)</p>
        <p>@Html.HtmlSanitize((((SitefinityProfileItemViewModel)Model.Item).About))</p>
    }
    else
    {
        <p>@Html.Resource("NotLoggedInUser")</p>
    }
</div>