@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList.UserDetailsViewModel

<div class="@Model.CssClass">
    <img src="@Model.AvatarImageUrl" alt="@Model.UserName" width="100" height="100" />
    <h3>@Model.DisplayName</h3>
    <p>@Model.Email</p>
</div>