@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList.UsersListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.UserProfiles;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">

    @if (Model.ContentType == typeof(SitefinityProfile))
    {
        foreach (var item in Model.Items)
        {
            <div>

                <img src="@((item as SitefinityProfileItemViewModel).AvatarImageUrl)" alt="@item.Fields.FirstName" width="100" height="100" />

                <h3>
                    <a href="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage)">
                        @(((SitefinityProfile)item.DataItem).GetUserDisplayName())
                    </a>
                </h3>

                <p>
                    @Html.Raw((((SitefinityProfileItemViewModel)item).About))
                </p>

            </div>
        }
    }
    else
    {
        if (SystemManager.IsDesignMode)
        {
            @Html.Resource("TheSelectedTemplateCannotBeUsed")
        }
        else
        {
            foreach (var item in Model.Items)
            {
                <h3>
                    <a href="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage)">
                        @UserProfilesHelper.GetUserDisplayName(item.Fields.Owner)
                    </a>
                </h3>
            }
        }
    }

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
           {
               currentPage = Model.CurrentPage,
               totalPagesCount = Model.TotalPagesCount.Value,
               redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
           })
    }
</div>
