@model Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Models.UnsubscribeForm.UnsubscribeFormViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div class="@Model.CssClass">
    @if (ViewBag.IsSucceded == true)
    {
        <span>@Html.Raw(Model.Message)</span>
    }
    else
    {
        using (Html.BeginFormSitefinity())
        {
            @Html.ValidationSummary(true)
        
            <h3>@Model.WidgetTitle</h3>
            
            <div>@Model.WidgetDescription</div>
            
            <div>
                @Html.Resource("Email")
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)

                <strong><input type="submit" value="@Html.Resource("ButtonUnsubscribe")" /></strong>
            </div>
            
            if (ViewBag.Error != null)
            {
                <span>
                    @ViewBag.Error
                </span>

                <br />
            }
        }
    }
</div>