@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.DocumentsList.DocumentsListViewModel

@using System;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.DocumentsList;

<div class="@Model.CssClass">

    @foreach (var item in Model.Items)
    {
        <div>
            <div>
                <a href="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix)">
                    @item.Fields.Title
                </a>
                <span class="sf-document-extension">(@(((DocumentItemViewModel)item).Extension))</span>
            </div>
            <div>
                <a href="@item.Fields.MediaUrl" target="_blank">Download</a>
                <span class="sf-document-size">(@(Math.Ceiling((double)item.Fields.TotalSize / 1024) + " KB"))</span>
            </div>
        </div>
    }

</div>

@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
       {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
       })
}


