@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

@Html.QueryBuilderScriptReferences()

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <sf-provider-selector 
                class="m-bottom-sm" 
                sf-manager-type='Telerik.Sitefinity.Modules.Lists.ListsManager'
                sf-provider-label='@Html.Resource("Provider")'
                ng-model="properties.ProviderName.PropertyValue">
            </sf-provider-selector>
        </div>
    </div>
</div>

<div class="form-group">
    
       <strong>@Html.Resource("WhichListsToDisplay")</strong> 
        <sf-list-selector 
            sf-lists-selector 
            sf-master="true"
            sf-multiselect="true"
            sf-provider="properties.ProviderName.PropertyValue"
            sf-selected-ids="listSelector.selectedItemsIds"
            sf-missing-selected-items="errors.missingSelectedItems">
        </sf-list-selector>
    
</div>

<div  class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <strong>@Html.Resource("FilterListItems")</strong>
            <sf-filter-selector sf-query-data="additionalFilters.value"
                                sf-taxonomy-fields="@CustomFieldsHelpers.GetTaxonomyFields(typeof(Telerik.Sitefinity.Lists.Model.ListItem))"
                                sf-provider="properties.ProviderName.PropertyValue" 
                                sf-date-groups="dateFilters.value"
                                sf-group-logical-operator="properties.SelectionGroupLogicalOperator.PropertyValue"
                                class="sf-filter-selector">
            </sf-filter-selector>
        </div>
    </div>
</div>

<div  class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <label for="sortOptions">@Html.Resource("SortListItems")</label>
            <select id="sortOptions" ng-model="selectedSortOption" class="form-control" ng-change="updateSortOption(selectedSortOption)">
                <option value="PublicationDate DESC"> @Html.Resource("LastPublished")</option>
                <option value="LastModified DESC"> @Html.Resource("LastModified")</option>
                <option value="Title ASC"> @Html.Resource("ByTitleAZ")</option>
                <option value="Title DESC"> @Html.Resource("ByTitleZA")</option>
                <option value="Ordinal ASC"> @Html.Resource("AsSetManually")</option>
                <option value="Custom"> @Html.Resource("AsSetInAdvancedMode")</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group-list">
    <h5>@Html.Resource("Templates")</h5>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="listTemplateName">@Html.Resource("ListItems")</label>

                <select id="listTemplateName" ng-model="properties.ListTemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"List\.(?<viewName>[\w\s]*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="listDetailTemplateName">@Html.Resource("ListItemDetails")</label>

                <select id="listDetailTemplateName" ng-model="properties.DetailTemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"Detail\.(?<viewName>[\w\s]*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                </select>
            </div>
        </div>
    </div>

</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <style-dropdown selected-class="properties.ListCssClass.PropertyValue" view-name ="properties.ListTemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="cssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="cssClass" ng-model="properties.ListCssClass.PropertyValue" class="form-control" />
    </div>
</expander>