@model Telerik.Sitefinity.Frontend.Comments.Mvc.Models.CommentsListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)
<h1>REVIEWS / RATINGS</h1>
<div id="comments-@HttpUtility.HtmlEncode(Model.ThreadKey)" data-sf-role="comments-wrapper" class="@Model.CssClass">
    <input type="hidden" data-sf-role="comments-settings" value="@Model.SerializedWidgetSettings" />
    <input type="hidden" data-sf-role="comments-resources" value="@Model.SerializedWidgetResources" />

    <div>
        <span data-sf-role="comments-total-count"></span>
        <span data-sf-role="comments-header"></span>

        @if (!Model.ThreadIsClosed)
        {
            <a href="#comment-submit-@HttpUtility.HtmlEncode(HttpUtility.UrlEncode(Model.ThreadKey))" data-sf-role="comments-new-form-button">@Html.Resource("LeaveComment")</a>
        }
        
        <a href="#" data-sf-role="comments-sort-new-button">@Html.Resource("NewestOnTop")</a>
        <a href="#" data-sf-role="comments-sort-old-button">@Html.Resource("OldestOnTop")</a>
    </div>
          
    <div data-sf-role="list-loading-indicator" style="display:none;"></div>
    <div data-sf-role="comments-container"></div>

    @if(Model.EnablePaging)
    {
        <a href="#" data-sf-role="comments-load-more-button">@Html.Resource("LoadMoreComments")</a>
    }

    @if (Model.ThreadIsClosed)
    {
        <span>@Html.Resource("ThreadIsClosedMessage")</span>
    }
    else 
    {        
        <div data-sf-role="comments-new-form" id="comment-submit-@HttpUtility.HtmlEncode(Model.ThreadKey)">
            @if (Model.RequiresApproval)
            {
                <span data-sf-role="comments-new-pending-approval-message">@Html.Resource("CommentPendingApproval")</span>
            }

            <img src="@Model.UserAvatarImageUrl"/>
            <textarea data-sf-role="comments-new-message" placeholder="@Html.Resource("LeaveComment")" ></textarea>
            <span data-sf-role="comments-new-message-error" style="display:none;" >@Html.Resource("MessageIsRequired")</span>

            <p data-sf-role="comments-new-logged-out-view" style="display:none;">
                <input placeholder="@Html.Resource("YourName")" data-sf-role="comments-new-name" /> <br />
                <span data-sf-role="comments-new-name-error" style="display:none;" >@Html.Resource("NameIsRequired")</span>
                <input type="email" placeholder="@Html.Resource("EmailOptional")" data-sf-role="comments-new-email" /> <br />
            </p>

            @if (Model.RequiresCaptcha)
            {
                <div data-sf-role="captcha-container" style="display:none;">
                    <div>
                        <img data-sf-role="captcha-image" />
                    </div>
                    <a data-sf-role="captcha-refresh-button"> @Html.Resource("NewCode") </a>
                    <div>
                        <label>@Html.Resource("TypeCodeAbove")
                            <input type="text" data-sf-role="captcha-input" />
                        </label>
                    </div>
                </div>
            }

            @if (Model.AllowSubscription)
            {
                <div>
                    <span data-sf-role="comments-subscribe-text"></span>
                    <a href="#" data-sf-role="comments-subscribe-button"></a>
                </div>
            }

            <div data-sf-role="error-message" style="display:none;"></div>
            <div data-sf-role="submit-loading-indicator" style="display:none;"></div>

            <button data-sf-role="comments-new-submit-button">@Html.Resource("Submit")</button>
        </div>
        
        if (Model.RequiresAuthentication)
        {
            <span data-sf-role="comments-new-requires-authentication"><a href='@Model.LoginPageUrl'>@Html.Resource("Login")</a>@Html.Resource("ToBeAbleToComment")</span>
        }
    }
    
    <div data-sf-role="single-comment-template">
        <div>
            <img data-sf-role="comment-avatar"/>
            <p>
                <span data-sf-role="comment-name"></span> | 
                <span data-sf-role="comment-date"></span>
            </p>
            <p>
                <span data-sf-role="comment-message"></span>
            </p>
        </div>
    </div>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/comments-list.js"), "bottom", false)

@*Temporary styling*@
<style>
    a[data-sf-role^="comments-sort-"].is-selected{
        cursor: text;
        color:black;
    }

    div[data-sf-role="single-comment-template"] {
        display:none;
    }

    div[data-sf-role="submit-loading-indicator"] {
        background-color:Red; 
        width:50px; 
        height:50px;
    }
    
    div[data-sf-role="list-loading-indicator"] {
        background-color:Red; 
        width:50px; 
        height:50px;
    }

    span[data-sf-role="comment-message"]:after {
        content: "";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }

    img[data-sf-role="comment-avatar"] {
        float:left;
        width: 40px;
        height: 40px;
    }
    .is-selected {
        text-decoration:underline;
        font-weight:900;
    }
</style>
