@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SubmitButton.SubmitButtonViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <button  class="sf-SubmitButton btn btn-default" type="submit" @Html.SubmitButtonRequiredAttributes() >@Model.Label</button>
    @if (Model.AllowGoBack)
    {
        <a href="#" data-sf-btn-role="prev">@Html.Raw(Model.PreviousStepText) </a>
    }
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/SubmitButton/submit-button.js"), "bottom", false)

