@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="form-group">
    <label>@Html.Resource("WhereToSearch")</label>

    <div class="row">
        <div class="col-xs-6">
            <select id="searchIndexes" class="form-control">
                <option value="select">@Html.Resource("SelectSearchIndex")</option>
            </select>

            <span ng-hide="hasSearchIndexes">@Html.Resource("NoSearchIndexes")</span>
            
            <span ng-click="toggle()">@Html.Resource("WhatIsThis")</span>
            <div ng-hide="isCollapsed">@Html.Resource("SearchIndexesDescription")</div>
        </div>
    </div>
</div>

<div class="form-group">
    <label>@Html.Resource("WhereToDisplaySearchResults")</label>
    
    <div>
        @Html.Resource("ThisIsPageWhereYouHaveDropped") <em>@Html.Resource("SearchResultsWidget")</em>    
        <sf-list-selector sf-page-selector></sf-list-selector>
    </div>
</div>

<div class="form-group">
    <label for="searchTemplateName">@Html.Resource("Template")</label>

    <div class="row">
        <div class="col-xs-6">
            <select id="searchTemplateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                @foreach (var viewName in Html.GetViewNames("SearchBox", @"(?<viewName>^SearchBox.*)$"))
                {
                    <option value="@viewName"> @viewName</option>
                }
            </select>
        </div>
    </div>
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name ="properties.TemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="searchCssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="searchCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
    </div>
</expander>