@model System.Web.UI.Control

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Taxonomies.Helpers;
@using Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models;

@Html.QueryBuilderScriptReferences()

@{
    string classificationPluralTitle = CustomFieldsHelpers.GetClassificationPluralTitle(Model.GetTaxonomyId(), Model.GetTaxonomyProviderName()).ToLower();
}
<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="@Html.Resource("Content")">
        <div class="form-group">

            <strong>@Html.Resource("WhichHierarchicalTaxonomiesLabel").Arrange(classificationPluralTitle)</strong>
            <div class="radio">
                <label for="allCategories">
                    <input id="allCategories" type="radio" ng-model="properties.TaxaToDisplay.PropertyValue" value="All" />
                    @Html.Resource("AllHierarchicalTaxonomies").Arrange(classificationPluralTitle)
                </label>
            </div>
            <div class="radio">
                <label for="topCategories">
                    <input id="topCategories" type="radio" ng-model="properties.TaxaToDisplay.PropertyValue" value="TopLevel" />
                    @Html.Resource("TopLevelHierarchicalTaxonomies").Arrange(classificationPluralTitle)
                </label>
            </div>
            <div class="radio">
                <label for="underParticular">
                    <input id="underParticular" type="radio" ng-model="properties.TaxaToDisplay.PropertyValue" value="UnderParticularTaxon" />
                    @Html.Resource("UnderParticularHierarchicalTaxonomies").Arrange(classificationPluralTitle,
                                        CustomFieldsHelpers.GetClassificationTaxonName(Model.GetTaxonomyId(), Model.GetTaxonomyProviderName()).ToLower())
                </label>

                <div ng-show="properties.TaxaToDisplay.PropertyValue === 'UnderParticularTaxon'" class="label-content">
                    <sf-list-selector sf-hierarchical-taxon-selector
                                      sf-dialog-header="@Html.Resource("SelectTaxonomiesHeader").Arrange(classificationPluralTitle)"
                                      sf-selected-item-id="properties.RootTaxonId.PropertyValue"
                                      sf-taxonomy-id="{{properties.TaxonomyId.PropertyValue}}"
                                      class="sf-filter-selector">
                    </sf-list-selector>
                </div>
            </div>
            <div class="radio">
                <label for="selectedCategories">
                    <input id="selectedCategories" type="radio" ng-model="properties.TaxaToDisplay.PropertyValue" value="Selected" />
                    @Html.Resource("SelectedHierachicalTaxonomies").Arrange(classificationPluralTitle)
                </label>
        
                <div ng-show="properties.TaxaToDisplay.PropertyValue === 'Selected'" class="label-content">
                    <sf-list-selector sf-hierarchical-taxon-selector
                                      sf-sortable="true"
                                      sf-multiselect="true"
                                      sf-from-current-language-only="true"
                                      sf-dialog-header="@Html.Resource("SelectTaxonomiesHeader").Arrange(classificationPluralTitle)"
                                      sf-selected-ids="taxonSelector.selectedItemsIds"
                                      sf-taxonomy-id="{{properties.TaxonomyId.PropertyValue}}"
                                      class="sf-filter-selector">
                    </sf-list-selector>
                </div>

            </div>
            <div class="radio">
                <label for="contentCategories">
                    <input id="contentCategories" type="radio" ng-model="properties.TaxaToDisplay.PropertyValue" value="UsedByContentType" />
                    @Html.Resource("ContentTypeHierarchicalTaxonomies").Arrange(classificationPluralTitle)
                </label>
                <div class="label-content">
                    <div class="row">
                        <div class="col-xs-6">

                            <select class="form-control"
                                    ng-model="model.proxyContentTypeName"
                                    ng-show="properties.TaxaToDisplay.PropertyValue === 'UsedByContentType'">
                                @foreach (var type in ContentTypeExtensions.GetContentTypes())
                                {
                                <option value="@type.FullTypeName">@type.DisplayName</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="cssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="cssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>
        </expander>

    </uib-tab>
    <uib-tab heading="@Html.Resource("Settings")">

        <div class="form-group">

            <div class="checkbox">
                <label for="showItemCount">
                    <input id="showItemCount" type="checkbox" ng-model="properties.ShowItemCount.PropertyValue"
                           ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.ShowItemCount.PropertyValue === 'True'" />
                    @Html.Resource("ShowItemCountLabel")
                </label>
            </div>

            <div class="checkbox" ng-hide="properties.TaxaToDisplay.PropertyValue === 'UsedByContentType'">
                <label for="showEmpty">
                    <input id="showEmpty" type="checkbox" ng-model="properties.ShowEmptyTaxa.PropertyValue"
                           ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.ShowEmptyTaxa.PropertyValue === 'True'" />
                    @Html.Resource("ShowEmptyHierarchicalTaxonomies").Arrange(classificationPluralTitle)
                </label>
            </div>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label for="sortOptions">@Html.Resource("SortHierarchicalTaxonomiesLabel").Arrange(classificationPluralTitle)</label>

                    <select id="sortOptions" ng-model="selectedSortOption" class="form-control" ng-change="updateSortOption(selectedSortOption)">
                        <option value="Title ASC"> @Html.Resource("ByTitleAZ")</option>
                        <option value="Title DESC"> @Html.Resource("ByTitleZA")</option>
                        <option value="AsSetManually"> @Html.Resource("AsSetManually")</option>
                        <option value="Custom"> @Html.Resource("AsSetInAdvancedMode")</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="navTemplateName">@Html.Resource("TemplateLabel")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="navTemplateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames("HierarchicalTaxonomy", @"^HierarchicalTaxonomy\.(?<viewName>\w*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="cssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="cssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>
        </expander>


    </uib-tab>
</uib-tabset>
