@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEmailEditViewModel

@using System.Web;
@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.JQueryValidate, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/JQueryValidate/jquery.validate.unobtrusive.min.js"), "top", false)
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div>
    @if (Model.ConfirmEmailChangeFailure == ConfirmEmailChangeFailure.Expired)
    {
        using (Html.BeginFormSitefinity("SendAgainChangeEmailConfirmation", "EditProfileForm", FormMethod.Get, new { enctype = "multipart/form-data" }))
        {
            <div>
                <h2>@Html.Resource("ActivationLinkExpiredTitle")</h2>
                <p>@string.Format(Html.Resource("ActivationLinkExpiredDescription"), Model.Email)</p>
                <input data-sf-role="profile-submit" type="submit" value='@Html.Resource("SendActivationLink")' />
                <input type="hidden" name="qs" value="@HttpUtility.ParseQueryString(SystemManager.CurrentHttpContext.Request.Url.Query).Get("qs")" />
            </div>
        }
    }
    else
    {
        if (Model.ShowProfileChangedMsg)
        {
            <div>@Html.Resource("ChangesAreSaved")</div>
        }
        else
        {
            using (Html.BeginFormSitefinity("EditEmail", "EditProfileForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.HiddenFor(u => u.UserId)
                    @Html.HiddenFor(u => u.Email)
                </div>

                <h3>@Html.Resource("EditProfileLink")</h3>

                <p>@Html.Resource("PasswordEditMessage")</p>

                @ViewBag.ErrorMessage

                <div>
                    <label>
                        @Html.Resource("Password")
                        @Html.PasswordFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </label>
                </div>

                @Html.AddSitefinityAntiforgeryToken()

                <div>
                    <input data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />
                </div>
            }
        }
    }
</div>
