@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEmailEditViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.JQueryValidate, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/JQueryValidate/jquery.validate.unobtrusive.min.js"), "top", false)
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div>
    @if (Model.ShowProfileChangedMsg)
    {
        <div>@Html.Resource("ChangesAreSaved")</div>
    }

    @using (Html.BeginFormSitefinity("EditEmail", "EditProfileForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.HiddenFor(u => u.UserId)
            @Html.HiddenFor(u => u.Email)                     
        </div>

        <h3>@Html.Resource("EditProfileLink")</h3>
        
        <p>@Html.Resource("PasswordEditMessage")</p>

        @ViewBag.ErrorMessage

        <div>
            <label>
                @Html.Resource("Password")
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </label>
        </div>
        
        <div>
            <input data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />   
        </div>
    }
</div>