@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEditViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;

@Html.Script(ScriptRef.JQuery)
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<div class="@Model.CssClass">
    @if (Model.ShowProfileChangedMsg)
    {
        <div>@Html.Resource("ChangesAreSaved")</div>
    }

    @using (Html.BeginFormSitefinity("Index", "EditProfileForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.HiddenFor(u => u.DeletePicture, new Dictionary<string, object>() { { "data-sf-role", "edit-profile-delete-picture" } })
            @Html.HiddenFor(u => u.DefaultAvatarUrl, new Dictionary<string, object>() { { "data-sf-role", "edit-profile-default-avatar-url" } })

            <img data-sf-role="edit-profile-user-image" src="@Model.AvatarImageUrl" alt="@Model.UserName" width="100" height="100" />
            <a data-sf-role="edit-profile-delete-picture-button">x</a>

            <input type="file" data-sf-role="edit-profile-upload-picture-input" name="UploadedImage" style="display: none;" />

            <a data-sf-role="edit-profile-upload-picture-button">@Html.Resource("EditProfileUploadImage")</a>

        </div>

        <div>
            <label>
                @Html.Resource("EditProfileFirstName")
                @Html.TextBoxFor(u => u.Profile["FirstName"])
                @Html.ValidationMessageFor(u => u.Profile["FirstName"])
            </label>
        </div>
        <div>
            <label>
                @Html.Resource("EditProfileLastName")
                @Html.TextBoxFor(u => u.Profile["LastName"])
                @Html.ValidationMessageFor(u => u.Profile["LastName"])
            </label>
        </div>

        <div>
            <label>
                @Html.Resource("EditProfileAbout")

                @Html.TextBoxFor(u => u.Profile["About"])
            </label>
        </div>

        <a href="#" data-sf-role="edit-profile-change-password-button">@Html.Resource("EditProfileChangePasswordButton")</a>
        <div data-sf-role="edit-profile-change-password-holder">

            <h4>@Html.Resource("EditProfileEditChangePasswordHeader")</h4>

            <div>
                <label>
                    @Html.Resource("EditProfileOldPassword")
                    @Html.PasswordFor(u => u.OldPassword)
                    @Html.ValidationMessageFor(u => u.OldPassword)
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("EditProfileNewPassword")
                    @Html.PasswordFor(u => u.NewPassword)
                    @Html.ValidationMessageFor(u => u.NewPassword)
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("EditProfileRepeatPassword")
                    @Html.PasswordFor(u => u.RepeatPassword)
                    @Html.ValidationMessageFor(u => u.RepeatPassword)
                </label>
            </div>
        </div>

        <div>
            <input data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />
            @Html.ActionLink(Html.Resource("EditProfileCancel"), "Index")
        </div>
    }
</div>

@{
    bool hasPasswordErrors = ViewBag.HasPasswordErrors is bool && ViewBag.HasPasswordErrors == true;
}

<script>
    (function ($) {
        $(function () {
            var hasPasswordErrors = @hasPasswordErrors.ToString().ToLower();

            var changePasswordHolder = $('[data-sf-role=edit-profile-change-password-holder]');

            if(!hasPasswordErrors){
                changePasswordHolder.hide();
            }

            var editProfileUserImage = $('[data-sf-role=edit-profile-user-image]');
            var fileInput = $('[data-sf-role=edit-profile-upload-picture-input]');

            $('[data-sf-role=edit-profile-change-password-button]').on('click', function (e) {
                e.preventDefault();

                changePasswordHolder.toggle('slow');
            });

            $('[data-sf-role=edit-profile-delete-picture-button]').on('click', function (e) {
                e.preventDefault();

                editProfileUserImage.attr('src', $('[data-sf-role=edit-profile-default-avatar-url]').val()).hide();
                $('[data-sf-role=edit-profile-delete-picture]').val(true);
            });

            fileInput.on('change', function (e) {
                if (e.target.files && e.target.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (readerLoadedEvent) {
                        editProfileUserImage.attr('src', readerLoadedEvent.target.result);
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $('[data-sf-role=profile-submit]').click(function () {
                var form = document.forms["aspnetForm"];
                if (form) {
                    form.enctype = "multipart/form-data";
                }
            });

            $('[data-sf-role=edit-profile-upload-picture-button]').click(function () {
                fileInput.click();
            });
        });
    }(jQuery));
</script>
