@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEditViewModel

@using System.Linq;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.JQueryValidate, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/JQueryValidate/jquery.validate.unobtrusive.min.js"), "top", false)
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="@Model.CssClass">

    <h3>@Html.Resource("EditProfileLink")</h3>

    @if (Model.ShowProfileChangedMsg)
    {
        <div>@Html.Resource("ChangesAreSaved")</div>
    }

    @using (Html.BeginFormSitefinity("Index", "EditProfileForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        string[] readOnlyFields = ViewBag.ReadOnlyFields.ContainsKey("SitefinityProfile") ? (string[])ViewBag.ReadOnlyFields["SitefinityProfile"] : new string[0];
        if (readOnlyFields.Count() > 0 || ViewBag.IsEmailReadOnly)
        {
            <div>@string.Format(Html.Resource("YouAreRegisteredWith"), Model.ExternalProviderName)</div>
        }
        <div>
            @Html.HiddenFor(u => u.DeletePicture, new Dictionary<string, object>() { { "data-sf-role", "edit-profile-delete-picture" } })
            @Html.HiddenFor(u => u.DefaultAvatarUrl, new Dictionary<string, object>() { { "data-sf-role", "edit-profile-default-avatar-url" } })

            <img data-sf-role="edit-profile-user-image" src="@Model.AvatarImageUrl" alt="@Model.UserName" width="100" height="100" />
            @*<a href="javascript:void(0)" data-sf-role="edit-profile-delete-picture-button">x</a>*@

            <input type="file" data-sf-role="edit-profile-upload-picture-input" name="UploadedImage" style="display: none;" />
            <br>
            <a href="javascript:void(0)" data-sf-role="edit-profile-upload-picture-button">@Html.Resource("EditProfileUploadImage")</a>

        </div>

        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            @ViewBag.ErrorMessage
        }

        {
            <div>
                @if (readOnlyFields.Any(x => x.Equals("FirstName", StringComparison.OrdinalIgnoreCase)))
                {
                    <div>
                        <label>
                            @Html.Resource("EditProfileFirstName")
                            @Html.HiddenFor(u => u.Profile["FirstName"])
                            @Model.Profile["FirstName"]
                            @if (Html.ValidationMessageFor(u => u.Profile["FirstName"]) != null)
                            {
                                @Html.ValidationMessageFor(u => u.Profile["FirstName"])
                            }
                        </label>
                    </div>
                }
                else
                {
                    <label>
                        @Html.Resource("EditProfileFirstName")
                        @Html.TextBoxFor(u => u.Profile["FirstName"])
                        @Html.ValidationMessageFor(u => u.Profile["FirstName"])
                    </label>
                }
            </div>
            <div>
                @if (readOnlyFields.Any(x => x.Equals("LastName", StringComparison.OrdinalIgnoreCase)))
                {
                    <div>
                        <label>
                            @Html.Resource("EditProfileLastName")
                            @Html.HiddenFor(u => u.Profile["LastName"])
                            @Model.Profile["LastName"]
                            @if (Html.ValidationMessageFor(u => u.Profile["LastName"]) != null)
                            {
                                @Html.ValidationMessageFor(u => u.Profile["LastName"])
                            }
                        </label>
                    </div>
                }
                else
                {
                    <label>
                        @Html.Resource("EditProfileLastName")
                        @Html.TextBoxFor(u => u.Profile["LastName"])
                        @Html.ValidationMessageFor(u => u.Profile["LastName"])
                    </label>
                }
            </div>
            <div>
                @if (readOnlyFields.Any(x => x.Equals("Nickname", StringComparison.OrdinalIgnoreCase)))
                {
                    <div>
                        <label>
                            @Html.Resource("EditProfileNickname")
                            @Html.HiddenFor(u => u.Profile["Nickname"])
                            @Model.Profile["Nickname"]
                            @if (Html.ValidationMessageFor(u => u.Profile["NickName"]) != null)
                            {
                                @Html.ValidationMessageFor(u => u.Profile["Nickname"])
                            }
                        </label>
                    </div>
                }
                else
                {
                    <label>
                        @Html.Resource("EditProfileNickname")
                        @Html.TextBoxFor(u => u.Profile["Nickname"])
                        @Html.ValidationMessageFor(u => u.Profile["Nickname"])
                    </label>
                }
            </div>
            <div>
                @if (readOnlyFields.Any(x => x.Equals("About", StringComparison.OrdinalIgnoreCase)))
                {
                    <div>
                        @Html.Resource("EditProfileAbout")
                        @Html.HiddenFor(u => u.Profile["About"])
                        @Model.Profile["About"]
                        @if (Html.ValidationMessageFor(u => u.Profile["About"]) != null)
                        {
                            @Html.ValidationMessageFor(u => u.Profile["About"])
                        }
                    </div>
                }
                else 
                {
                    <label>
                        @Html.Resource("EditProfileAbout")
                        @Html.TextAreaFor(u => u.Profile["About"])
                    </label>
                }
            </div>
        }

        if (ViewBag.IsEmailReadOnly)
        {
            <div>
                <label>
                    @Html.Resource("EditProfileEmail")
                    @Html.HiddenFor(u => u.Email)
                    @Model.Email
                </label>
            </div>
        }
        else
        {
            <label>
                @Html.Resource("EditProfileEmail")
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </label>
        }

        if (string.IsNullOrEmpty(Model.ExternalProviderName))
        {
            <a href="#" data-sf-role="edit-profile-change-password-button">@Html.Resource("EditProfileChangePasswordButton")</a>
            <br>
            <div data-sf-role="edit-profile-change-password-holder" style="display:none">

                <h4>@Html.Resource("EditProfileEditChangePasswordHeader")</h4>

                <div>
                    <label>
                        @Html.Resource("EditProfileOldPassword")
                        @Html.PasswordFor(u => u.OldPassword, new { autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.OldPassword)
                    </label>
                </div>
                <div>
                    <label>
                        @Html.Resource("EditProfileNewPassword")
                        @Html.PasswordFor(u => u.NewPassword)
                        @Html.ValidationMessageFor(u => u.NewPassword)
                    </label>
                </div>
                <div>
                    <label>
                        @Html.Resource("EditProfileRepeatPassword")
                        @Html.PasswordFor(u => u.RepeatPassword)
                        @Html.ValidationMessageFor(u => u.RepeatPassword)
                    </label>
                </div>
            </div>
        }
        else
        {
            <div>
                <label>
                    @Html.Resource("Password")
                    @string.Format(Html.Resource("ExternalProviderNoPassword"), Model.ExternalProviderName)
                </label>
            </div>
        }		


        if (SystemManager.IsDesignMode)
        {
            <input data-sf-role="profile-submit" type="button" value='@Html.Resource("EditProfileSave")' disabled />
        }
        else 
        {
            <input data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />
        }
        @Html.AddSitefinityAntiforgeryToken()
        if(SystemManager.IsPreviewMode)
        {
            <div data-sf-role="profile-submit-preview-message" style="display:none; color: #a94442;">@Html.Resource("PreviewProfileSaveMessage")</div>
        }
    }
</div>

@{
    bool hasPasswordErrors = ViewBag.HasPasswordErrors is bool && ViewBag.HasPasswordErrors == true;
}

<input type="hidden" data-sf-role="has-password-errors" value="@hasPasswordErrors.ToString().ToLowerInvariant()" />

@Html.Script(Url.WidgetContent("Mvc/Scripts/Profile/profile-edit.js"), "bottom", false)

