@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEditViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;

<div class="@Model.CssClass">
    @if (!string.IsNullOrEmpty(Model.ProfileSaveMsg))
    {
        <div>@Model.ProfileSaveMsg</div>
    }

    @using (Html.BeginFormSitefinity())
    {
        <div>
            @Html.HiddenFor(u => u.DeletePicture, new { @class = "edit-profile-delete-picture" })
            @Html.HiddenFor(u => u.DefaultAvatarUrl, new { @class = "edit-profile-default-avatar-url" })

            <img class="edit-profile-user-image" src="@Model.AvatarImageUrl" alt="@Model.UserName" />
            <a href="#" class="edit-profile-delete-picture-button">x</a>
            <input type="file" accept="image/*" name="UploadedImage" value="@Html.Resource("EditProfileUploadImage")" />
        </div>
                
        <label>@Html.Resource("EditProfileFirstName")</label>
        <div class="editor-field">@Html.EditorFor(u => u.Profile["FirstName"])</div>
        
        <label>@Html.Resource("EditProfileLastName")</label>
        <div class="editor-field">@Html.EditorFor(u => u.Profile["LastName"])</div>

        <label>@Html.Resource("EditProfileAbout")</label>
        <div class="editor-field">@Html.EditorFor(u => u.Profile["About"])</div>
        
        <a href="#" class="edit-profile-change-password-button">@Html.Resource("EditProfileChangePasswordButton")</a>
        <div class="edit-profile-change-password-holder">
            <h4>@Html.Resource("EditProfileEditChangePasswordHeader")</h4>

            <label>@Html.Resource("EditProfileOldPassword")</label>
            <div class="editor-field">@Html.EditorFor(u => u.OldPassword)</div>

            <label>@Html.Resource("EditProfileNewPassword")</label>
            <div class="editor-field">@Html.EditorFor(u => u.NewPassword)</div>

            <label>@Html.Resource("EditProfileRepeatPassword")</label>
            <div class="editor-field">@Html.EditorFor(u => u.RepeatPassword)</div>
        </div>
        
        <input type="submit" value='@Html.Resource("EditProfileSave")' />
        @Html.ActionLink(Html.Resource("EditProfileCancel"), "Index")
    }
</div>

<script>
    (function ($) {
        $(function () {
            var changePasswordHolder = $('.edit-profile-change-password-holder').hide();
            $('.edit-profile-change-password-button').on('click', function (e) {
                e.preventDefault();

                changePasswordHolder.toggle('slow');
            });

            $('.edit-profile-delete-picture-button').on('click', function (e) {
                e.preventDefault();

                $('.edit-profile-user-image').attr('src', $('.edit-profile-default-avatar-url').val());
                $('.edit-profile-delete-picture').val(true);
                $('.edit-profile-delete-picture-button').hide();
            });
        });
    }(jQuery));
</script>
