@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileViewModel

<div class="@Model.CssClass">
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <div>@Model.Error</div>
    }

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div>@Model.Message</div>
    }

    @using (Html.BeginForm("EditProfile", "EditProfile"))
    {
        <label>@Html.Resource("EditProfileFirstName")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.FirstName)
        </div>
        
        <label>@Html.Resource("EditProfileLastName")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.LastName)
        </div>
        
        <label>@Html.Resource("EditProfileEmail")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.Email)
        </div>
        
        <label>@Html.Resource("EditProfileUsername")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.Username)
        </div>
        
        <label>@Html.Resource("EditProfileAbout")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.About)
        </div>
        
        <a href="#" class="edit-profile-change-password-expander">@Html.Resource("EditProfileChangePasswordButton")</a>
        <div class="edit-profile-change-password-holder">
            <h4>@Html.Resource("EditProfileEditChangePasswordHeader")</h4>

            <label>@Html.Resource("EditProfileOldPassword")</label>
            <div class="editor-field">
                @Html.EditorFor(u => u.OldPassword)
            </div>

            <label>@Html.Resource("EditProfileNewPassword")</label>
            <div class="editor-field">
                @Html.EditorFor(u => u.NewPassword)
            </div>

            <label>@Html.Resource("EditProfileRepeatPassword")</label>
            <div class="editor-field">
                @Html.EditorFor(u => u.RepeatPassword)
            </div>
        </div>
        
        <input type="submit" value='Html.Resource("EditProfileSave")' />
        @Html.ActionLink(Html.Resource("EditProfileCancel"), "Index")
    }
</div>

<script>
    (function ($) {
        $(function () {
            var changePasswordHolder = $('.edit-profile-change-password-holder').hide();
            $('.edit-profile-change-password-expander').on('click', function () {
                changePasswordHolder.toggle('slow');
            });
        });
    }(jQuery));
</script>
