@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileViewModel

<div class="@Model.CssClass">
    <img src="@Model.AvatarImageUrl" alt="@Model.Username"/>
    <h4>@Model.DisplayName</h4>
    <p>@Model.Email</p>

    @*User does not have 'About' property*@
    @*<p>@Model.About</p>*@

    @if (Model.CanEdit)
    {
        Html.ActionLink(Html.Resource("EditProfileLink"), "EditProfile")
    }
</div>