@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfilePreviewViewModel

@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    <img src="@Model.AvatarImageUrl" alt="@Model.UserName"/>
    <h3>@Model.DisplayName</h3>
    <p>@Model.Email</p>

    @*User does not have 'About' property*@
    @*<p>@Model.About</p>*@

    @if (Model.CanEdit && ViewBag.Mode == ViewMode.Both)
    {
        @Html.ActionLink(Html.Resource("EditProfileLink"), "EditProfile");
    }
</div>