@model Telerik.Sitefinity.Frontend.Blogs.Mvc.Models.Blog.BlogDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Blogs.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <h3>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>
    </h3>

    <p>@string.Format(Html.Resource("PostsCount"), Model.PostsCount)</p>
    @{
        var lastPostDate = Model.Item.GetLastPostDate();
        if (lastPostDate!=null && lastPostDate.HasValue)
        {
            <p>@Html.Resource("LastPost") : @lastPostDate.Value.ToShortDateString() </p>
        }
    }

    <div @Html.InlineEditingFieldAttributes("Description", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Description)</div>
</div>