@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <ul>
        @foreach (var item in Model.Items)
        {
            <li @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                <h3>
                    <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="#Todo">@item.Fields.Title</a>
                </h3>
            </li>
        }
    </ul>
</div>
