@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">

    <h3>@Html.Resource("Sites")</h3>
   
    <ul>
    @{
        string currentSite = string.Empty;
    }

    @foreach (var site in Model.Sites)
    {
        if (!Model.EachLanguageAsSeparateSite)
        {
            if (site.IsCurrent)
            {
                <li><span class="selected">@site.Name</span></li>
            }
            else if (SystemManager.IsDesignMode && !SystemManager.IsInlineEditingMode && !SystemManager.IsPreviewMode)
            {   
                <li><a>@site.Name</a></li>
            }
            else
            {
                <li><a href="@site.Url">@site.Name</a></li>
            }
        }
        else if (Model.SiteLanguagesDisplayMode == SiteLanguagesDisplayMode.SiteNamesAndLanguages)
        {
            if (site.IsCurrent)
            {
                <li><span class="selected">@site.Name - @site.Language</span></li>
            }
            else if (SystemManager.IsDesignMode && !SystemManager.IsInlineEditingMode && !SystemManager.IsPreviewMode)
            {
                <li><a>@site.Name - @site.Language</a></li>
            }
            else
            {
                <li><a href="@site.Url">@site.Name - @site.Language</a></li>
            }
        }
        else
        {
            if(currentSite != site.Name)
            {                                   
                <li><strong>@site.Name</strong></li>
                currentSite = site.Name;
            }
                    
            if (site.IsCurrent)
            {
                <li><span class="selected">@site.Language</span></li>
            }
            else if (SystemManager.IsDesignMode && !SystemManager.IsInlineEditingMode && !SystemManager.IsPreviewMode)
            {
                <li><a>@site.Language</a></li>
            }
            else
            {
                <li><a href="@site.Url">@site.Language</a></li>
            }
        }
    }
    </ul>
</div>