@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector

<div class="@Model.CssClass">

    <h1>Sites</h1>

    <br />

    @foreach (var site in Model.Sites)
    {
        switch (Model.SiteLanguagesDisplayMode)
        {
            case SiteLanguagesDisplayMode.SiteNamesAndLanguages:
                <p><a href="@site.Url">@site.Name site - @site.Language</a></p>
                break;

            case SiteLanguagesDisplayMode.LanguagesOnly:
            <p><a href="@site.Url">@site.Language</a></p>

                break;

            default:
            <p><a href="@site.Url">@site.Name site</a></p>

                break;
        }
    }

</div>