@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">

    <h3>@Html.Resource("Sites")</h3>

    <label style="display: none;">@Html.Resource("Sites")</label>
    @if (SystemManager.IsDesignMode && !SystemManager.IsInlineEditingMode && !SystemManager.IsPreviewMode)
    {
        @:<select>
    }
    else
    {
        @:<select onchange="document.location.href = this.value">
    }
            @if (!Model.IncludeCurrentSite)
            { 
                <option>@Html.Resource("SelectSite")</option>
            }

            @{
                string currentSite = string.Empty;
             }

            @foreach (var site in Model.Sites)
            {                                                                               
                if (!Model.EachLanguageAsSeparateSite)
                {
                     <option value="@site.Url" @(site.IsCurrent ? "selected=selected" : "")>@site.Name</option>
                }
                else if (Model.SiteLanguagesDisplayMode == SiteLanguagesDisplayMode.SiteNamesAndLanguages)
                {
                    <option value="@site.Url" @(site.IsCurrent ? "selected=selected" : "")>@site.Name - @site.Language</option>
                }
                else
                {
                    if(currentSite != site.Name)
                    {
                        <option value="">- @site.Name -</option>
                        currentSite = site.Name;
                    }
                    <option value="@site.Url" @(site.IsCurrent ? "selected=selected" : "")>@site.Language</option>
                }
            }
        </select>

</div>