@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector;
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">

    <h1>Sites</h1>

    <br />

    @if (SystemManager.IsDesignMode)
    {
        @:<select>
    }
    else
    {
        @:<select onchange="document.location.href = this.value">
    }
            @foreach (var site in Model.Sites)
            {
                if (!Model.EachLanguageAsSeparateSite)
                {
                     <option value="@site.Url">@site.Name site</option>
                }
                else if (Model.SiteLanguagesDisplayMode == SiteLanguagesDisplayMode.SiteNamesAndLanguages)
                {
                    <option value="@site.Url">@site.Name site - @site.Language</option>
                }
                else
                {
                    <option value="@site.Url">@site.Language</option>
                }
            }
        </select>

</div>