@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector

<div class="@Model.CssClass">

    <h1>Sites</h1>

    <br />

    <select onchange="document.location = this.value;">
        @foreach (var site in Model.Sites)
        {
            switch (Model.SiteLanguagesDisplayMode)
            {
                case SiteLanguagesDisplayMode.SiteNamesAndLanguages:
                    <option value="@site.Url">@site.Name site - @site.Language</option>
                    break;

                case SiteLanguagesDisplayMode.LanguagesOnly:
                <option value="@site.Url">@site.Language</option>
                    break;

                default:
                <option value="@site.Url">@site.Name site</option>
                    break;
            }
        }
    </select>

</div>