@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

<div class="sf-card @Model.CssClass">
    @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
    {
        <img src="@Model.SelectedSizeUrl"  title="@Model.ImageTitle" alt="@Model.ImageAlternativeText"/>
    }
    @if (!string.IsNullOrEmpty(Model.Heading))
    {
        <h2>@Html.Raw(Model.Heading)</h2>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div>@Html.Raw(Model.Description)</div>
    }
    @if (!string.IsNullOrEmpty(Model.ActionName))
    {
        <a href="@Model.ActionUrl">
            <span>@Model.ActionName</span>
        </a>
    }
</div>
