@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

<div class="@Model.CssClass">
    <table border="0">
        <tr>
            <td><img src="@Model.SelectedSizeUrl" /></td>
            <td>
                <h1>@Html.Raw(Model.Heading)</h1>
                <div>@Html.Raw(Model.Description)</div>
                <a href="@Model.ActionUrl">
                    <span>@Model.ActionName</span>
                </a>
            </td>
        </tr>
    </table> 
</div>
