@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <div class="form-group">
        <label for="heading-text">
            @Html.Resource("Heading")
        </label>
        <input id="heading-text" type="text" class="form-control" ng-model="properties.Heading.PropertyValue" />
    </div>

    <div class="form-group">
        <label for="description-text">@Html.Resource("Text")</label>
        <textarea id="description-text" class="form-control" rows="3" ng-model="properties.Description.PropertyValue"></textarea>
        @*<sf-html-field id="description-text" class="kendo-content-block" sf-model="properties.Description.PropertyValue"></sf-html-field>*@
    </div>

    <div class="form-group">
        <label for="image-field" class="m-top-sm">@Html.Resource("Image")</label>
        <sf-image-field class="sf-Media--info modal-settings modal-settings-space"
            sf-model="properties.ImageId.PropertyValue"
            sf-image="selectedImage"
            sf-provider="properties.ImageProviderName.PropertyValue"
            id="image-field"
            sf-media-settings="@SettingsHelpers.GetMediaSettings("Image")"></sf-image-field>
    </div>

    <hr class="side-to-side">

    <h5>Primary action</h5>

    <div class="form-group">
        <label for="label-text">
            Label
        </label>
        <input id="label-text" type="text" ng-model="properties.ActionName.PropertyValue" class="form-control" />
        <p class="text-muted">@Html.Resource("LearnMore")</p>
    </div>

    <div class="form-group">

        <label>Link to...</label> 
        <div class="radio m-top-none">
            <label>
                <input type="radio" ng-model="properties.IsPageSelectMode.PropertyValue" ng-value="true" />
                @Html.Resource("PageWithinLabel")
            </label>
            <sf-list-selector
                class="label-content"
                sf-page-selector
                sf-selected-item-id="properties.LinkedPageId.PropertyValue"
                ng-show="properties.IsPageSelectMode.PropertyValue"></sf-list-selector>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="properties.IsPageSelectMode.PropertyValue" ng-value="false" />
                @Html.Resource("ExternalURL")
            </label>
            <div class="label-content">
                <input type="text"  class="form-control" ng-show="!properties.IsPageSelectMode.PropertyValue" ng-model="properties.LinkedUrl.PropertyValue" />
                <p class="text-muted" ng-show="!isPageSelectModeproperties.IsPageSelectMode.PropertyValue">@Html.Resource("Example")</p>
            </div>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <div class="form-group">
            <label for="templateName">@Html.Resource("Template")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames("Card", @"(?<viewName>^Card.*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>
        <div class="form-group">
            <label for="cssClass">@Html.Resource("CssClasses")
            </label>
                <input id="cssClass" type="text" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>
