@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.LanguageSelector.LanguageSelectorViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <label>
        @Html.Resource("Language")
        @if (SystemManager.IsDesignMode)
        {
            @:<select>
        }
        else
        {
            @:<select onChange="openLink(value)">
        }

            @if (!Model.IncludeCurrentLanguage)
            {
                <option value="" selected="selected">@Html.Resource("SelectLanguageDropDownOption")</option>
            }

            @foreach (var language in Model.Languages)
            {
                <option value="@language.Culture" @(language.Culture == Model.CurrentLanguage ? "selected=selected" : "")>@language.DisplayName</option>
            }
        </select>
    </label>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LanguageSelector/language-selector.js"), "bottom", false)