@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model; 

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <h3 @Html.InlineEditingFieldAttributes("@*MainTextField*@", "ShortText")>
        @Model.Item.Fields.@*MainTextField*@
    </h3>
    <div>
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
        @Html.CommentsCount("", @Model.Item.DataItem)
    </div>
    
    @*GenerateFieldsSection*@
    
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }

     @Html.CommentsList(@Model.Item.DataItem)
</div>