@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <ul>
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage);
            <li @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                @*MainPictureSection*@
                <h3>
                    <a @Html.InlineEditingFieldAttributes("@*MainTextField*@", "ShortText") href="@navigateUrl">
                        @item.Fields.@*MainTextField*@
                    </a>
                </h3>
                <div>
                    @item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
                </div>
            </li>
        }
    </ul>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new { currentPage = Model.CurrentPage, 
                        totalPagesCount = Model.TotalPagesCount.Value, 
                        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate })
    }

</div>