@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel

@if (string.IsNullOrEmpty(Model.LinkedContentUrl))
{
    <img class="@Model.CssClass" src="@Model.SelectedSizeUrl" title="@Model.Title" alt="@Model.AlternativeText" />
}
else
{
    <a href="@Model.LinkedContentUrl">
        <img class="@Model.CssClass" src="@Model.SelectedSizeUrl" title="@Model.Title" alt="@Model.AlternativeText" />
    </a>
}
