@model Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Models.EmailCampaignsViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div class="@Model.CssClass">
    @if (ViewBag.IsSucceeded == true)
    {
        <strong>@Html.Resource("ThankYou")</strong>
        <br />
        <span>
            @Html.Resource("ThankYouMessage") (@Model.Email)
        </span>
    }
    else if (ViewBag.IsSucceeded == false)
    {
        @ViewBag.Error
    }
    else
    {
        using (Html.BeginFormSitefinity())
        {
            @Html.ValidationSummary(true);
        @ViewBag.Error

        <strong>@Html.Resource("Subscribe")</strong>
        <br />
        <span>
            @Html.Resource("SubscribeMail")
        </span>

        <br />

        <div>
            @Html.Resource("FirstName") @Html.Resource("Optional")
            @Html.TextBoxFor(u => u.FirstName)
        </div>

        <br />

        <div>
            <label>
                @Html.Resource("LastName") @Html.Resource("Optional")
                @Html.TextBoxFor(u => u.LastName)
            </label>
        </div>

        <br />

        <div>
            @Html.Resource("Email")
            @Html.TextBoxFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)

            <strong><input type="submit" value="@Html.Resource("ButtonSubscribe")" /></strong>
        </div>
        }
    }
</div>
