@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.News.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.RelatedData

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <h3>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>
    </h3>

    <div class="text-muted">
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
        @Html.Resource("By")
        @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)
    </div>
    
    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.Raw(Model.Item.Fields.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.Raw(Model.Item.Fields.Content)</div>
    
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }
		
	<div class="sfMultiRelatedItmsWrp">
        <h2 class="sfrelatedItmTitle">Related news</h2>
        <ul class="sfrelatedList sflist">
            @foreach (var relatedItem in Model.Item.Fields.RelatedNews)
            {
                <li class="sfrelatedListItem sflistitem">
                    @Html.ActionLink((string)relatedItem.Fields.Title, (string)relatedItem.Fields.ItemDefaultUrl)
                </li>
            }
        </ul>
	</div>
</div>

