@model Telerik.Sitefinity.Frontend.News.Mvc.Models.INewsModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.News.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.RelatedData

<div class="@Model.DetailCssClass" @Html.InlineEditingAttributes(Model.ProviderName, "Telerik.Sitefinity.News.Model.NewsItem", Model.DetailItem.Id)>
    <h1>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.DetailItem.Title</span>
    </h1>
    <div>
        <span>@Model.DetailItem.PublicationDate.ToLocal().ToString("MMM d, yyyy, hh:mm tt")</span>
        <span>@Html.Resource("By")</span>
        <span>@DataResolver.Resolve(@Model.DetailItem, "Author", null)</span>
    </div>

    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.Raw(Model.DetailItem.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.Raw(Model.DetailItem.Content)</div>
    
    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }
		
	<div class="sfMultiRelatedItmsWrp">
        <h2 class="sfrelatedItmTitle">Related news</h2>
        <ul class="sfrelatedList sflist">
            @foreach (var relatedItem in Model.DetailItem.GetRelatedItems<Telerik.Sitefinity.News.Model.NewsItem>("RelatedNews"))
            {
                <li class="sfrelatedListItem sflistitem">
                    @Html.ActionLink(relatedItem.Title, relatedItem.ItemDefaultUrl)    
                </li>
            }
        </ul>
	</div>
</div>

