@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>@Html.Resource("ForgotPasswordRequestSent") @Html.Encode(Model.Email)</p>
    
    <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>
    
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ForgotPasswordBackToLogin")</a></strong>
}
else
{
    using (Html.BeginFormSitefinity("SendPasswordResetEmail", "LoginForm"))
    {
        <p>@Html.Resource("EnterLoginEmailAddress")</p>
   
        <div>
            <label>
                @Html.Resource("ForgotPasswordEmail")
                @Html.TextBoxFor(u => u.Email)
            </label>
        </div>
    
        <div><input type="submit" value='@Html.Resource("ForgotPasswordSendButton")' /></div>
    }
}

</div>
