@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>@Html.Resource("ForgotPasswordRequestSent") @Html.Encode(Model.Email)</p>
    
    <p role="alert">@Html.Resource("ForgotPasswordRequestSentUseLink")</p>
    
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ForgotPasswordBackToLogin")</a></strong>
}
else
{
    using (Html.BeginFormSitefinity("SendPasswordResetEmail", "LoginForm", null, FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "aria-label", @Html.Resource("ForgotPasswordHeader") } }))
    {
        <p>@Html.Resource("EnterLoginEmailAddress")</p>
        
        if (Model.EmailNotFound)
        {
            <span role="alert">Email @String.Format(Html.Resource("DoesNotExist"), Html.Encode(Model.Email))</span> 
        }
        @Model.Error
   
        <div>
            <label>
                @Html.Resource("ForgotPasswordEmail")
                @Html.TextBoxFor(u => u.Email, new { aria_required="true", aria_label=@Html.Resource("EnterLoginEmailAddress") })
            </label>
        </div>
    
        <div><input type="submit" value='@Html.Resource("ForgotPasswordSendButton")' /></div>
    }
}

</div>
