@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>@Html.Resource("ForgotPasswordRequestSent")</p>
    
    <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>
    
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ForgotPasswordBackToLogin")</a></strong>
}
else
{
    using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
    {
        @Model.Error
   
        <div>
            <label>@Html.Resource("ForgotPasswordEmail")</label>
            @Html.EditorFor(u => u.Email)
        </div>
    
        <div><input type="submit" value='@Html.Resource("ForgotPasswordSendButton")' /></div>
    }
}

</div>
