@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>You sent a request to reset your password.</p>
    <p>Please use the link provided in your email to reset the password for your account.</p>
    <a href="@Model.LoginPageUrl">Back to login</a>
}
else
{
    using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
    {
        <div class="error">@Model.Error</div>
    
        <label>@Html.Resource("ForgotPasswordEmail")</label>
        <div class="editor-field">
            @Html.EditorFor(u => u.Email)
        </div>
    
        <input type="submit" value="Send" />
    }
}

</div>
