@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.LoginFormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.JQueryValidate, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/JQueryValidate/jquery.validate.unobtrusive.min.js"), "top", false)
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="@Model.CssClass">
    <div>
        @using (Html.BeginFormSitefinity(@Request.Url.Query, null, null, FormMethod.Post, null, true))
        {
         @Html.ValidationSummary(true)
            <h3>@Html.Resource("LoginFormLogInLegendHeader")</h3>

            if ((!string.IsNullOrEmpty(Request.QueryStringGet("err")) && ViewBag.ControllerId.Equals(Request.QueryStringGet("sf_login_cntrl_id"))) || Model.LoginError)
            {
                <p>@Html.Resource("IncorrectCredentialsMessage")</p>
            }

            <div>
                <label>
                    @Html.Resource("Username")
                    @Html.TextBoxFor(u => u.UserName)
                </label>
                @Html.ValidationMessage("UserName")
            </div>

            <div>
                <label>
                    @Html.Resource("Password")
                    @Html.PasswordFor(u => u.Password)
                </label>
                @Html.ValidationMessage("Password")
            </div>

            if (Model.ShowRememberMe)
            {
            <div>
                <label>
                    @Html.CheckBoxFor(u => u.RememberMe)
                    @Html.Resource("RememberMe")
                </label>
            </div>
            }

            if (Model.ShowForgotPasswordLink)
            {
                @Html.ActionLink(Html.Resource("ForgottenPasword"), "ForgotPassword")
            }

            <div><input type="submit" value='@Html.Resource("LoginFormLogInButton")' @(SystemManager.IsDesignMode ? "disabled" : "") /></div>

            if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
            {
                <h3>@Html.Resource("UseAccountIn")</h3>

                foreach (var provider in Model.ExternalProviders)
                {
                    <div>
                        @Html.ActionLink(provider.Key, "LoginExternalProvider", new { model = provider.Key }, new { @class = provider.Value })
                    </div>
                }
            }

            if (Model.ShowRegistrationLink)
            {
                <div>
                    <div>@Html.Resource("NotRegisteredYet")</div>
                    <a href="@Model.RegisterPageUrl">@Html.Resource("LoginFormRegisterNow")</a>
                </div>
            }
        }
    </div>
</div>

