@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ResetPasswordHeader")</h3>

@if (Model.ResetComplete)
{
    <h3 role="alert">@Html.Resource("ResetPasswordSuccess")</h3>
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ResetPasswordBackToLogin")</a></strong>
}
else
{
    <form action="@(Url.Action("ResetPassword", "LoginForm"))" method="post" autocomplete="off" aria-label="@Html.Resource("ResetPasswordHeader")" role="form">
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <p role="alert">@Model.Error</p>
        }
    
        @Html.HiddenFor(u => u.SecurityToken)
    
        @if (Model.RequiresQuestionAndAnswer)
        {
            
            <div>
                <label>
                    @Html.Resource("ResetPasswordAnswer")
                    @Html.TextBoxFor(u => u.ResetPasswordAnswer, new { aria_required="true" })
                </label>
            </div>
        }
        
        <div>
            <label>
                @Html.Resource("ResetPasswordNewPassword")
                @Html.PasswordFor(u => u.NewPassword, new { aria_required="true" })                
            </label>
            
        </div>
        
        <div>
            <label>
                @Html.Resource("ResetPasswordRepeatNewPassword")
                @Html.PasswordFor(u => u.RepeatNewPassword, new { aria_required="true" })
            </label>
        </div>
    
        <div><input type="submit" value='@Html.Resource("ResetPasswordSaveButton")' /></div>
        
    </form>
}

</div>
