@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ResetPasswordHeader")</h3>

@if (Model.ResetComplete)
{
    <p>@Html.Resource("ResetPasswordSuccess")</p>
    <a href="@Model.LoginPageUrl">@Html.Resource("ResetPasswordBackToLogin")</a>
}
else
{
    <form action="@(Url.Action("SetResetPassword", "LoginForm") + Model.SecurityToken)" method="post" autocomplete="off">
        <div class="error">@Model.Error</div>
    
        @Html.HiddenFor(u => u.SecurityToken)
    
        @if (Model.RequiresQuestionAndAnswer)
        {
            <label>@Html.Resource("ResetPasswordAnswer")</label>
            <div class="editor-field">
                @Html.EditorFor(u => u.ResetPasswordAnswer)
            </div>
        }
        
        <label>@Html.Resource("ResetPasswordNewPassword")</label>
        <div class="editor-field">
            @Html.PasswordFor(u => u.NewPassword)
        </div>

        <label>@Html.Resource("ResetPasswordRepeatNewPassword")</label>
        <div class="editor-field">
            @Html.PasswordFor(u => u.RepeatNewPassword)
        </div>
    
        <input type="submit" value='@Html.Resource("ResetPasswordSaveButton")' />
    </form>
}

</div>
