@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;

<div class="@Model.CssClass">

@if (Model.PasswordChanged)
{
    <p>Your password is successfully changed.</p>
    <a href="#">Back to login</a>
}
else
{
    @using (Html.BeginFormSitefinity("PostResetPassword", "ResetPasswordForm"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Password reset failed - check your inputs");
    
        <div class="editor-label">
            @Html.DisplayFor(u => u.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.NewPassword)
            @Html.ValidationMessageFor(u => u.NewPassword)
        </div>

        <div class="editor-label">
            @Html.DisplayFor(u => u.RepeatNewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.RepeatNewPassword)
            @Html.ValidationMessageFor(u => u.RepeatNewPassword)
        </div>
    
        <input type="submit" value="Save" />
    }
}

</div>
