@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Document.DocumentViewModel

<div class="@Model.CssClass">
    @if(!string.IsNullOrEmpty(Model.MediaUrl))
    {
        <div>
            <a class="@String.Concat("sf", Model.Extension)" href="@Model.MediaUrl">@Model.Title</a>
            <span class="sf-document-extension">(@Model.Extension)</span>
        </div>
        <span class="sf-document-size">@Model.FileSize KB</span>
    }
</div>