@model DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery)

<link rel="stylesheet" href='@Url.WidgetContent("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")' type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="@Model.CssClass">
    <ul>
        @foreach (dynamic item in Model.Items)
        {
            using (Html.InlineEditingRegion(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Id))
            {
                <li>
                    @DynamicFieldHelper.MainPictureSection()
                    <h1 class="sfitemTitle sftitle">
                        @if (ViewBag.OpenInSamePage)
                        {
                            <a href="@(ViewBag.CurrentPageUrl + item.ItemDefaultUrl)">
                                @DynamicFieldHelper.MainTextFieldForList()
                            </a>
                        }
                        else
                        {
                            <a href="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId)">
                                @Html.Sitefinity().ShortTextField((string)item.Title, "Title")
                            </a>
                        }
                    </h1>
                    @Html.Sitefinity().DateField((DateTime)item.PublicationDate, "MMM d, yyyy, HH:mm tt", "PublicationDate", cssClass: "sfitemPublicationDate")
                </li>
            }
        }
    </ul>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new { currentPage = Model.CurrentPage, 
                        totalPagesCount = Model.TotalPagesCount.Value, 
                        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate })
    }

</div>