@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.CodeMirrorScriptReferences()

<div class="form-group nav-wrapper">
    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Inline'" />
        @Html.Resource("WriteCss")
    </label>

    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Reference'" />
        @Html.Resource("LinkToCssFile")
    </label>
</div>

<!-- Write CSS -->
<div ng-show="properties.Mode.PropertyValue=='Inline'">
    <sf-code-area sf-type="css" sf-tab-mode="classic" sf-line-numbers="true" sf-match-brackets="true" sf-model="properties.InlineStyles.PropertyValue" placeholder="@Html.Resource("StartWritingCss")"></sf-code-area>
    <a href=""
                    sf-popover-html=""
                    sf-popover-placement="bottom"
                    sf-popover-trigger="focus"
                    sf-popover-content="
      <div>
        <div class='small m-bottom-sm'>
          <p>
              @Html.Resource("CssAreaDescription")<br/>
              @Html.Resource("DoNotAddStyleTag")
          </p>
          <p>
              <strong>@Html.Resource("Example")</strong><br/>
              @Html.Resource("CssCodeExample")
          </p>
        </div>
      </div>
      "
      sf-popover-title="@Html.Resource("Tips")"
        >
        @Html.Resource("Tips")
    </a>
</div>

<!-- Link to Css file -->
<div ng-show="properties.Mode.PropertyValue=='Reference'">
    <div class="form-group">
        <label>
            <p>@Html.Resource("Url")</p>
            <input type="text" ng-model="properties.ResourceUrl.PropertyValue" />
        </label>
    </div>
</div>

<label>@Html.Resource("Media")</label>
<div class="form-group">
    <div class="radio">
        <label class="full-width">
            <input type="radio" ng-model="mediaTypeSelection" ng-value="'all'" ng-change="updateMediaTypeProeprty()" />

            @Html.Resource("All")
        </label>
    </div>
    <div class="radio">
        <label class="full-width">
            <input type="radio" ng-model="mediaTypeSelection" ng-value="'selected'" ng-change="updateMediaTypeProeprty()" />

            @Html.Resource("SelectedMediaTypes")
        </label>

        <div ng-show="mediaTypeSelection === 'selected'">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4" ng-repeat="mediaCol in mediaTypeColumns">
                        <div class="checkbox" ng-repeat="mediaType in mediaCol">
                            <label>
                                <input type="checkbox" ng-model="mediaType.checked" ng-change="updateMediaTypeProeprty()">{{::mediaType.value}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <label>@Html.Resource("Description")</label>
        <input type="text" ng-model="properties.Description.PropertyValue" class="form-control" />
    </div>
</expander>