@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.CodeMirrorScriptReferences()

<div class="form-group nav-wrapper">
    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Inline'" /> @Html.Resource("WriteCss")
    </label>
    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Reference'" /> @Html.Resource("LinkToCssFile")
    </label>
</div>

<!-- Write CSS -->
<div ng-show="properties.Mode.PropertyValue=='Inline'" ng-cloak class="clearfix sf-code">
    <textarea sf-code-area sf-type="css" sf-tab-mode="classic" sf-line-numbers="true" sf-match-brackets="true" sf-model="properties.InlineStyles.PropertyValue" placeholder="@Html.Resource("StartWritingCss")"></textarea>
    <a href="" class="pull-right sf-code-tips"
                    sf-popover-html=""
                    sf-popover-placement="top"
                    sf-popover-trigger="focus"
                    sf-popover-content="
      <div>
        <div class='small m-bottom-sm'>
          <p>
              @Html.Resource("CssAreaDescription")<br/>
              @Html.Resource("DoNotAddStyleTag")
          </p>
          <p>
              <strong>@Html.Resource("Example")</strong><br/>
              @Html.Resource("CssCodeExample")
          </p>
        </div>
      </div>
      "
      sf-popover-title="@Html.Resource("Tips")"
        >
        @Html.Resource("Tips")
    </a>
</div>

<!-- Link to Css file -->
<div ng-show="properties.Mode.PropertyValue=='Reference'" ng-cloak class="form-group">
    <label>
        @Html.Resource("Url")
    </label>
    <sf-file-url-field sf-model="properties.ResourceUrl.PropertyValue" sf-extension="css" sf-title='@Html.Resource("SelectCssFile")'></sf-file-url-field>
</div>



<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <strong>@Html.Resource("Media")</strong>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="mediaTypeSelection" ng-value="'all'" ng-change="updateMediaTypeProeprty(mediaTypeSelection)" />

                @Html.Resource("All")
            </label>
        </div>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="mediaTypeSelection" ng-value="'selected'" ng-change="updateMediaTypeProeprty(mediaTypeSelection)" />

                @Html.Resource("SelectedMediaTypes")
            </label>
            <div ng-show="mediaTypeSelection === 'selected'" class="label-content">
                <div class="row">
                    <div class="col-xs-4" ng-repeat="mediaCol in mediaTypeColumns">
                        <div class="checkbox" ng-repeat="mediaType in mediaCol">
                            <label>
                                <input type="checkbox" ng-model="mediaType.checked" ng-change="updateMediaTypeProeprty(mediaTypeSelection)">{{::mediaType.value}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>@Html.Resource("Description")</label>
        <input type="text" ng-model="properties.Description.PropertyValue" class="form-control" />
        <div class="text-muted">@Html.Resource("ForYourConvenience")</div>
    </div>
</expander>