@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.CodeMirrorScriptReferences()

<div class="form-group nav-wrapper">
	<label class="radio-inline">
		<input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="Inline" />
        @Html.Resource("WriteCss")
	</label>

	<label class="radio-inline">
		<input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="Reference" />
        @Html.Resource("LinkToCssFile")
	</label>
</div>

<!-- Write CSS -->
<div ng-show="properties.Mode.PropertyValue=='Inline'">
    <textarea cssArea></textarea>

    <label>@Html.Resource("Media")</label>
	<div class="form-group">
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="properties.MediaType.PropertyValue" value="All" />

                @Html.Resource("All")
            </label>
        </div>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="properties.MediaType.PropertyValue" value="Selected" />

                @Html.Resource("SelectedMediaTypes")
            </label>
        </div>
    </div>
</div>

<!-- Link to Css file -->
<div ng-show="properties.Mode.PropertyValue=='Reference'">
	
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <label>@Html.Resource("Description")</label>
        <input type="text" ng-model="properties.Description.PropertyValue" class="form-control" />
    </div>
</expander>