@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

@foreach (var taxa in Model.Taxa)
{
    var cloudSizeClass = "sfCloudSize" + @taxa.CloudSize;
    
    <p>
        <a href="@taxa.Url" cssclass="@cloudSizeClass">@taxa.Title</a>
        @if (Model.ShowItemCount)
        {
            @:(@taxa.Count)
        }
    </p>
}