@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.StringResources;
@using Telerik.Sitefinity.Localization;

<sf-media-field class="sf-Media--info modal-settings"
                sf-auto-open-selector
                sf-model="properties.Id.PropertyValue"
                sf-media-type="videos"
                sf-provider="properties.ProviderName.PropertyValue"
                sf-media-settings="@SettingsHelpers.GetMediaSettings("Video")"></sf-media-field>

<div sf-aspect-ratio-selection sf-model="videoModel"></div>

<form name="videoProperties">
    <div class="form-group">
        <label for="templateName">@Html.Resource("Template")</label>
        <div class="row">
            <div class="col-xs-6">
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("Video", @"^Video\.(?<viewName>[\w\s]*)$")) 
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <div class="form-group">
            <label for="imageCssClass">@Html.Resource("CssClasses")</label>
            <input type="text" id="imageCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>