@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.StringResources;
@using Telerik.Sitefinity.Localization;

<sf-media-field class="sf-Media--info modal-settings"
                sf-auto-open-selector
                sf-model="properties.Id.PropertyValue"
                sf-media-type="videos"
                sf-provider="properties.ProviderName.PropertyValue"></sf-media-field>

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
        <label>@(Res.Get<ClientComponentsResources>().AspectRatio)</label>
            <select class="form-control" ng-model="properties.AspectRatio.PropertyValue">
                <option value="auto">@(Res.Get<ClientComponentsResources>().Auto)</option>
                <option value="4x3">@(Res.Get<ClientComponentsResources>().Ratio4X3)</option>
                <option value="16x9">@(Res.Get<ClientComponentsResources>().Ratio16X9)</option>
                <option value="custom">@(Res.Get<ClientComponentsResources>().Custom)</option>
            </select>
        </div>
    </div>
</div>

<form name="videoProperties">
    <div class="form-group">
        <label for="templateName">@Html.Resource("Template")</label>
        <div class="row">
            <div class="col-xs-6">
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("Video", @"Video\.(?<viewName>[\w\s]*)$")) 
                    {
                        <option value="@viewName">@viewName</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>