@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;


<div class="@Model.CssClass">
    @Html.Action("GetView", new { viewName = "Dropdown", model= Model})

    <ul>
        @foreach (var node in Model.Nodes)
        {
            @RenderRootLevelNode(node);
        }
    </ul>
</div>
@*Here is specified the rendering for the root level*@
@helper RenderRootLevelNode(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target="@node.LinkTarget"><strong>@node.Title</strong></a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>
        }
    </li>
}

@*Here is specified the rendering for the sub levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target ="@node.LinkTarget">@node.Title</a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>
        }
    </li>
}

@*Add scripts and stylesheets*@
@Html.Script(Url.WidgetContent("Mvc/Scripts/Navigation.js"), "bottom", false)