@model Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Models.SubscribeFormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div class="@Model.CssClass">
    @using (Html.BeginFormSitefinity())
    {
        <h1>@Html.Resource("Subscribe")</h1>

        <p>
            @Html.Resource("SubscribeMail")
        </p>

        if (ViewBag.IsSucceeded == true)
        {
            <h3>@Html.Resource("ThankYou")</h3>
        
            <p>
                @Html.Resource("ThankYouMessage") (@Model.Email)
            </p>
        }
            
            @Html.ValidationSummary(true)
            if (ViewBag.Error != null)
            {
                <p>
                    @Model.Email @ViewBag.Error
                </p>
            }
          //Uncomment this if you want to show FirstName and LastName inputs
            @*

                <div>
                    <label>
                        @Html.Resource("FirstName") @Html.Resource("Optional")
                        @Html.TextBoxFor(u => u.FirstName)
                    </label>
                </div>


                <div>
                    <label>
                        @Html.Resource("LastName") @Html.Resource("Optional")
                        @Html.TextBoxFor(u => u.LastName)
                    </label>
                </div>*@


            <div>
                <label>
                    @Html.Resource("Email")
                    @Html.TextBoxFor(u => u.Email)
                </label>
                    @Html.ValidationMessageFor(u => u.Email)

                <div><input type="submit" value="@Html.Resource("ButtonSubscribe")" /></div>
            </div>
        }
</div>
