@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

<div ng-repeat="item in currentItems">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" ng-model="item.Title" class="form-control" />
            </div>
        </div>
    </div>
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <label for="textFieldTemplateName">@Html.Resource("Template")</label>

        <div class="row">
            <div class="col-xs-6">
                <select id="navigationFieldTemplateName" ng-model="properties.ReadTemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"^Read\.(?<viewName>[\w\s]*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <style-dropdown selected-class="properties.Model.CssClass.PropertyValue" view-name="properties.ReadTemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="cssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="cssClass" ng-model="properties.Model.CssClass.PropertyValue" class="form-control" />
    </div>
</expander>
