@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.NavigationField.NavigationFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.StyleSheet(Url.WidgetContent("assets/dist/css/sf-form-nav.min.css"), "head", false)


<div class="@Model.CssClass" data-sf-role="navigation-field-container">

    <div class="sf-Progress-wrapper">
        <div class="sf-Progress-bar" data-sf-role="progress-bar"></div>
    </div>

    <span class="sf-Progress-percent" data-sf-role="progress-percent"> </span>

    <ul class="sf-Progress-page-title">
        @foreach (var page in Model.Pages)
        {
            <li  data-sf-navigation-index="@page.Index">
                @Html.HtmlSanitize(page.Title)
            </li>
        }
    </ul>


</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/NavigationField/navigation-field.js"), "bottom", false)
