@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.Captcha;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;


<strong>@Html.Resource("WhatsThis")</strong>
<p class="m-bottom-lg">
    @Html.Resource("WhatsCaptchaDescription") 
</p>

<div class="checkbox">
    <label for="requestUnauthenticatedUsers">
        <input id="requestUnauthenticatedUsers" type="checkbox" ng-model="properties.Model.DisplayOnlyForUnauthenticatedUsers.PropertyValue"
                ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Model.DisplayOnlyForUnauthenticatedUsers.PropertyValue === 'True'" />
        @Html.Resource("RequestUnauthenticatedUsersOnly")
    </label>
</div>

<div class="checkbox">
    <label for="enableAudioCode">
        <input id="enableAudioCode" type="checkbox" ng-model="properties.Model.EnableAudioCode.PropertyValue"
               ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Model.EnableAudioCode.PropertyValue === 'True'" />
        @Html.Resource("EnableAudioCode")
    </label>
</div>

<div class="form-group"">
    <label for="example">
        @Html.Resource("RequiredErrorMessageTitle")
    </label>
    <input type="text" id="example" ng-model="properties.Model.ValidatorDefinition.RequiredViolationMessage.PropertyValue" class="form-control" />
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <label for="captchaTemplateName">@Html.Resource("Template")</label>

        <div class="row">
            <div class="col-xs-6">
                <select id="captchaTemplateName" ng-model="properties.WriteTemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"^Write\.(?<viewName>[\w\s]*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <style-dropdown selected-class="properties.Model.CssClass.PropertyValue" view-name="properties.WriteTemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="cssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="cssClass" ng-model="properties.Model.CssClass.PropertyValue" class="form-control" />
    </div>
</expander>
