@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.Captcha.CaptchaViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)

<div data-sf-role="field-captcha-container" style="display:none;" class="@Model.CssClass">
    <div>
        <img data-sf-role="captcha-image" src='@Url.WidgetContent("assets/dist/img/dummy.jpg")'/>
    </div>

    <a data-sf-role="captcha-refresh-button">@Html.Resource("NewCode")</a>

    <div>
        <label for='@Html.UniqueId("Textbox")'>@Html.Resource("TypeCodeAbove")</label>
        <input id='@Html.UniqueId("Textbox")' type="text" data-sf-role="captcha-input" name="@Model.CaptchaAnswerFormKey"/>
    </div>
    <input type="hidden" data-sf-role="captcha-ca" name="@Model.CaptchaCorrectAnswerFormKey" />
    <input type="hidden" data-sf-role="captcha-iv" name="@Model.CaptchaInitializationVectorFormKey" />
    <input type="hidden" data-sf-role="captcha-k" name="@Model.CaptchaKeyFormKey" />

    <input type="hidden" data-sf-role="captcha-settings" value="@Model.GenerateUrl" />
</div>

@if (SystemManager.IsDesignMode)
{
    var scriptUrl = Url.WidgetContent("Mvc/Scripts/Captcha/captcha.js");
    var queryAddition = scriptUrl.Contains("?") ? "&" : "?"; 
    var fullScriptUrl = scriptUrl + queryAddition + string.Format("_={0}", DateTime.UtcNow.Ticks.ToString());
    
    <script type="text/javascript" src='@fullScriptUrl'></script>
}
else
{
    @Html.Script(Url.WidgetContent("Mvc/Scripts/Captcha/captcha.js"), "bottom", false)
}