@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.AccountActivation.AccountActivationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.Activated)
    {
        <h3>@Html.Resource("AccountActivationSuccess")</h3>

        <a href="@Model.ProfilePageUrl">@Html.Resource("ProfilePageUrlTitle")</a>
    }
    else if (Model.AttemptedActivation)
    {
        <h3>@Html.Resource("AccountActivationFail")</h3>
    }
</div>