@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<h4>@Html.Resource("Display")</h4>
<div class="form-group">
    <div class="radio">
        <label for="rbTopLevelPages">
          <input id="rbTopLevelPages" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="TopLevelPages" />
          @Html.Resource("TopLevelPages")
        </label>
    </div>
    <div class="radio">
        <label for="rbCurrentPageChildren">
          <input id="rbCurrentPageChildren" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="CurrentPageChildren" />
          @Html.Resource("CurrentPageChildren")
        </label>
    </div>
    <div class="radio">
        <label for="rbCurrentPageSiblings">
          <input id="rbCurrentPageSiblings" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="CurrentPageSiblings" />
          @Html.Resource("CurrentPageSiblings")
        </label>
    </div>
</div>

<div class="form-group">
    <label for="navLevelsToInclude">@Html.Resource("LevelsToInclude")</label>

    <div class="row">
      <div class="col-xs-2">
        <select id="navLevelsToInclude" ng-model="properties.LevelsToInclude.PropertyValue" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="-1">All</option>
        </select>
      </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label for="navTemplateName">@Html.Resource("Template")</label>

        <select id="navTemplateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
           @foreach (var viewName in Html.GetViewNames("Navigation", @"NavigationView\.(?<viewName>\w*)$"))
           {
               <option value="@viewName"> @viewName</option>
           }
        </select>
      </div>
    </div>
</div>

<div class="form-group">
    <label>@Html.Resource("ResponsiveDesignSectionTitle")</label>
    <p class="text-muted">@Html.Raw(@Html.Resource("ResponsiveDesignDescription"))</p>
</div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name ="properties.TemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="navCssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
    </div>
</expander>
