@model Navigation.Mvc.Models.INavigationModel
@using Navigation.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@*Add scripts and stylesheets*@
@if (!SitefinityContext.IsBackend)
{
    @Html.Script("//code.jquery.com/jquery-1.8.3.min.js")
}

@Html.Script(Url.WidgetContent("Mvc/Scripts/Navigation.js"))

<div class="@Model.CssClass">
    @Html.Action("GetView", new { viewName = "Dropdown", model= Model})

      <ul class="nav nav-pills nav-stacked">
        @foreach (var node in Model.Nodes)
        {
            @RenderSubLevelsRecursive(node);
        }
    </ul>
</div>

@*Here is specified the rendering for the sub levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
     <li class="@GetClass(node)">
        <a href="@node.Url" target="@node.LinkTarget">@node.Title</a>

        @if (node.ChildNodes.Count > 0)
        {
            <ul class="group nav nav-pills nav-stacked" >
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>
        }
    </li>
}

@*Resolves the class that will be added for each node depending whether it is selected*@
@helper GetClass(NodeViewModel node)
{
    if (node.IsCurrentlyOpened)
    {
        @Html.Raw("active");
    }
    else if (node.HasChildOpen)
    {
        @Html.Raw("active");
    }
}
