@model Navigation.Mvc.Models.INavigationModel
@using Navigation.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<link rel="stylesheet" href='@Url.WidgetContent("Mvc/Scripts/Bootstrap/css/bootstrap.min.css")'>
<link rel="stylesheet" href='@Url.WidgetContent("Mvc/Styles/Navigation.css")'>

<ul class="nav nav-sitemap @Model.CssClass">
    @foreach (var node in Model.Nodes)
    {
        @RenderRootLevelNode(node);
    }
</ul>

@*Here is specified the rendering for the root level*@
@helper RenderRootLevelNode(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target="@node.LinkTarget"><b>@node.Title</b></a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>            
        }
    </li>      
}

@*Here is specified the rendering for the sub levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target ="@node.LinkTarget">@node.Title</a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>            
        }
    </li>      
}
