@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.Fields.@(Model.Name)!=null)
    {
    <ul @@Html.InlineEditingFieldAttributes("@Model.Name", "HierarchicalTaxon")>
     @@foreach (var taxon in Model.Item.GetHierarchicalTaxons("@Model.Name"))
    {
        <li>@@taxon.Title</li>   
    }
    </ul>
    }
</div>
@@*End @Model.Name field*@@