@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.Fields.@(Model.Name)!=null)
    {
    <span @@Html.InlineEditingFieldAttributes("@Model.Name", "FlatTaxon")>
        @@Model.Item.GetFlatTaxon("@Model.Name").Title.ToString()
    </span>
    }
</div>
@@*End @Model.Name field*@@