@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel</strong>

    <ul>
    @@foreach (var relatedItem in Model.Item.RelatedItems("@Model.Name").ToList<RelatedDataViewModel>())
    {
        <li>
            <a href='@@relatedItem.DefaultUrl'>
                @@relatedItem.GetValue("@(((string)Model.RelatedDataType).GetIdentifierField())")
            </a>
        </li>   
    }
    </ul>
</div>
@@*End @Model.Name field*@@