@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>

    @@if(Model.Item.RelatedItem("@Model.Name") != null)
    {
        <a @@Model.Item.RelatedItem("@Model.Name").LinkTargetAttribute() href='@@Model.Item.RelatedItem("@Model.Name").DefaultUrl'>
            @@Model.Item.RelatedItem("@Model.Name").Fields.Title
        </a>
    }
</div>
@@*End @Model.Name field*@@