@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@using DynamicContent.TemplateGeneration.Fields.Helpers;

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.FrontendWidgetLabel :</strong>
    
    @@{{
        var item = Model.Item.RelatedItems("@Model.Name").GetSingle<RelatedDataViewModel>();
        if(item != null)
        {
            <a href='@@RelatedDataExtensions.GetDefaultUrl(item)'>
                @@item.GetValue("@(((string)Model.RelatedDataType).GetIdentifierField())")
            </a>
        }
    }}
</div>
@@*End @Model.Name field*@@