@model Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleField

@@*Start @Model.Name field*@@
<div>
    <strong> @Model.Title :</strong>

    @@if(Model.Item.@(Model.Name) != null)
    {
        <span @@Html.InlineEditingFieldAttributes("@Model.Name", "ChoicesRadioButtons")>
            @@Model.Item.GetChoiceLabel("@Model.Name", new Guid("@Model.ParentTypeId"))
        </span>
    }
</div>
@@*End @Model.Name field*@@