@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

<div>
    <div class="form-group">
        <label for="title" class="full-width">@Html.Resource("LabelQuestion")</label>
        <div class="row">
            <div class="col-xs-10">
                <textarea id="title" ng-model="properties.Model.MetaField.Title.PropertyValue" class="form-control"></textarea>
            </div>
        </div>

    </div>
    <div class="form-group">
        <strong>@Html.Resource("Choices")</strong>

        <div class="list-group list-group-endless" kendo-sortable k-options="sortableOptions" k-on-change="sortItems(kendoEvent)">
            <div ng-repeat="item in currentItems track by $index" class="list-group-item list-group-item-multiselect list-group-item-draggable-2">
                <span ng-show="currentItems.length > 1" class="handler list-group-item-drag"></span>
                <input type="checkbox" name="default" ng-disabled="!item" ng-click="setDefault(item)" ng-checked='(item && defaultValue && defaultValue.indexOf(currentItems[$index]) > -1)' tabindex="-1" />
                <div>
                    <section class="row">
                        <div class="col-md-11">
                            <input ng-click="itemClicked($event)" ng-model="currentItems[$index]" ng-value="currentItems[$index]" placeholder='@Html.Resource("EnterLabel")' type="text" class="form-control-highlight" />
                        </div>
                        <div class="col-md-1 text-right">
                            <button ng-show="currentItems.length > 1" ng-click="removeItem(item, $index)" type="button" class="close" aria-label="Close" tabindex="-1"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <a class="text-muted list-group-item-add list-group-item-add--spaced" ng-click="addItem()">@Html.Resource("ClickToAddChoice")</a>
        <div ng-show="properties.Model.HasOtherChoice.PropertyValue === 'True'">
            <div class="list-group-item list-group-item-multiselect ng-scope list-group-item-draggable-2 ng-scope  list-group-item-draggable--disabled">
                <input type="checkbox" name="default" />
                <div>
                    <section class="row">
                        <div class="col-md-10">
                            <div class="static-choice">
                                @Html.Resource("Other")
                            </div>
                        </div>
                    </section>
                </div>
                <input type="text" disabled="disabled">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="multiple-choice-add-other">
                <input id="multiple-choice-add-other" type="checkbox" ng-model="properties.Model.HasOtherChoice.PropertyValue"
                       ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Model.HasOtherChoice.PropertyValue === 'True'" />
                @Html.Resource("AddOtherLastChoice")
                <span class="text-muted">@Html.Resource("ExpandingTextBox")</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="multiple-choice-required-field">
                <input id="multiple-choice-required-field" type="checkbox" ng-model="properties.Model.ValidatorDefinition.Required.PropertyValue"
                       ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Model.ValidatorDefinition.Required.PropertyValue === 'True'" />
                @Html.Resource("RequiredField")
            </label>
        </div>
    </div>

    <div class="form-group" ng-show="properties.Model.ValidatorDefinition.Required.PropertyValue === 'True'">
        <label for="example">
            @Html.Resource("ErrorMessageDisplayedLabel")
        </label>
        <input type="text" id="err-message-example" ng-model="properties.Model.ValidatorDefinition.RequiredViolationMessage.PropertyValue" class="form-control" />
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="multiple-choice-hidden">
                <input id="multiple-choice-hidden" type="checkbox" ng-model="properties.Model.Hidden.PropertyValue"
                       ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Model.Hidden.PropertyValue === 'True'" />
                @Html.Resource("HiddenField")
            </label>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <div class="form-group">
            <label for="textFieldTemplateName">@Html.Resource("Template")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="textFieldTemplateName" ng-model="properties.WriteTemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"^Write\.(?<viewName>[\w\s]*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <style-dropdown selected-class="properties.Model.CssClass.PropertyValue" view-name="properties.WriteTemplateName.PropertyValue"></style-dropdown>
        <div class="form-group">
            <label for="cssClass">@Html.Resource("CssClasses")</label>
            <input type="text" id="cssClass" ng-model="properties.Model.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</div>

