@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)


<div data-sf-role="comments-wrapper" class="@("CssClassHere")">
    <input type="hidden" data-sf-role="comments-thread-key" value="@("b0ed401b-f175-6d94-8442-ff00006c9242_en")" />
    <input type="hidden" data-sf-role="comments-page-size" value="@(1)" />
    <input type="hidden" data-sf-role="comments-header-text" value="@("comments")" />
    <input type="hidden" data-sf-role="comments-read-full-comment" value="@("Read full comment")" />
    <input type="hidden" data-sf-role="comments-text-max-length" value="@(100)" />

    <div>
        <span data-sf-role="comments-header"></span>
        <button data-sf-role="comments-form-button">Leave a comment</button>
        <button data-sf-role="comments-sort-new-button">Newest on top</button>
        <button data-sf-role="comments-sort-old-button">Oldest on top</button>
    </div>

    <div data-sf-role="comments-new-holder">
        <div>
            <textarea rows="4" data-sf-role="comments-new-message" placeholder="Leave a comment"></textarea>
        </div>

        <div data-sf-role="comments-new-logged-out-view">
            <input placeholder="Your name" data-sf-role="comments-new-name" /> <br />
            <input type="email" placeholder="Email (optional)" data-sf-role="comments-new-email" /> <br />
            <input type="url" placeholder="Web site (optional)" data-sf-role="comments-new-website" /> <br />
        </div>

        <div>
            <label>
                <input type="checkbox" data-sf-role="comments-new-subscribe" />
                <span>Subscribe me to new comments via email</span>
            </label>
        </div>

        <div>
            @*Temporary styling*@
            <button class="realBtn" data-sf-role="comments-new-submit-button">Submit</button>
        </div>

        <div>
            <a href="#">Comments feed</a>
        </div>
    </div>
    
    <div data-sf-role="comments-holder"></div>
    <button data-sf-role="comments-load-more-button">Load more comments</button>
    
    <script type="text/html-template" data-sf-role="single-comment-template">
        <div>
            <p>
                <a href="#"><span data-sf-role="comment-name"></span></a> | 
                <span data-sf-role="comment-date"></span>
            </p>
            <p>
                <span data-sf-role="comment-message"></span>
            </p>
        </div>
        <br />
    </script>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Comments/comments.js"), "bottom", false)

@*Temporary styling*@
<style scoped>
button:not(.realBtn) {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color: #105CB6;
    cursor: pointer;
}
</style>