@model Telerik.Sitefinity.Frontend.Comments.Mvc.Models.CommentsModel


@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)


<div data-sf-role="comments-wrapper" class="@Model.CssClass">
    <input type="hidden" data-sf-role="comments-thread-key" value="@Model.ThreadKey" />
    <input type="hidden" data-sf-role="comments-per-page" value="@Model.CommentsConfig.CommentsPerPage" />
    <input type="hidden" data-sf-role="comments-header-text" value="@Html.Resource("CommentsPlural")" />
    <input type="hidden" data-sf-role="comments-read-full-comment" value="@Html.Resource("ReadFullComment")" />
    <input type="hidden" data-sf-role="comments-text-max-length" value="@Model.CommentTextMaxLength" />

    <div>
        <span data-sf-role="comments-header"></span>
        <a href="#" data-sf-role="comments-form-button">@Html.Resource("LeaveComment")</a>
        <a href="#" data-sf-role="comments-sort-new-button">@Html.Resource("NewestOnTop")</a>
        <a href="#" data-sf-role="comments-sort-old-button">@Html.Resource("OldestOnTop")</a>
    </div>

    <div data-sf-role="comments-new-form">
        <textarea data-sf-role="comments-new-text" placeholder="@Html.Resource("LeaveComment")"></textarea>
        <br />

        <p data-sf-role="comments-new-logged-out-view">
            <input placeholder="@Html.Resource("YourName")" data-sf-role="comments-new-name" /> <br />
            <input placeholder="@Html.Resource("EmailOptional")" data-sf-role="comments-new-email" /> <br />
            <input placeholder="@Html.Resource("WebSiteOptional")" data-sf-role="comments-new-website" /> <br />
        </p>

        <label>
            <input type="checkbox" data-sf-role="comments-new-subscribe" />
            <span>@Html.Resource("SubscribeToNewComments")</span>
        </label>
        <br />

        <button data-sf-role="comments-new-submit-button">@Html.Resource("Submit")</button>
        <br />
    </div>
    
    <div data-sf-role="comments-container"></div>
    <a href="#" data-sf-role="comments-load-more-button">@Html.Resource("LoadMoreComments")</a>
    
    <script type="text/html-template" data-sf-role="single-comment-template">
        <div>
            <p>
                <a href="#"><span data-sf-role="comment-name"></span></a> | 
                <span data-sf-role="comment-date"></span>
            </p>
            <p>
                <span data-sf-role="comment-message"></span>
            </p>
        </div>
        <br />
    </script>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Comments/comments.js"), "bottom", false)
