@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<server-data default-provider-name='@Html.DefaultProviderName(Telerik.Sitefinity.Modules.GenericContent.ContentManager.GetManager())'></server-data>

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <sf-provider-selector class="m-bottom-sm" sf-manager-type="Telerik.Sitefinity.Modules.GenericContent.ContentManager"
                sf-provider-label='@Html.Resource("Provider")'
                ng-model="filter.providerName">
            </sf-provider-selector>
        </div>
    </div>
</div>

<div ng-show="isListEmpty" class="alert alert-info">@Html.Resource("NoItemsHaveBeenCreatedYet")</div>
<div ng-hide="isListEmpty">
    <div class="input-group m-bottom-sm">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        <input type="text" ng-model="filter.search" class="form-control" placeholder='@Html.Resource("NarrowByTyping")' />
    </div>
    <div class="list-group s-items-list-wrp">
        <a ng-repeat="item in contentItems"
                ng-class="{'list-group-item':true, 'active': item.Id==selectedContentItem.Id }"
                ng-click="contentItemClicked($index, item)">
            <span ng-bind="item.Title"></span>
        </a>
    </div>
    <uib-pagination ng-show="filter.paging.isVisible" items-per-page="filter.paging.itemsPerPage" total-items="filter.paging.totalItems" ng-model="filter.paging.currentPage"></uib-pagination>
    <div ng-hide="contentItems.length">@Html.Resource("NoItemsFound")</div>
</div>

<script type="text/ng-template" section="modal-footer" use-element-scope="true">
    <button type="button" ng-hide="isListEmpty" class="btn btn-primary pull-left" ng-click="selectSharedContent()">@Html.Resource("DoneSelecting")</button>
    <button type="button" class="btn btn-link pull-left" ng-click="cancel()">@Html.Resource("Cancel")</button>
</script>
