@model Telerik.Sitefinity.Frontend.Search.Mvc.Models.ISearchResultsModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Search.Mvc.Models;

@Html.Script(Url.WidgetContent("Mvc/Scripts/SearchResults/resultSort.js"))

<section class="section">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 row--border">
            <div class="row text-center">
                <h1><span>@Model.TotalResultsCount &nbsp;</span>@Html.Raw(Model.ResultText)</h1>
                @if(Model.AllowSorting)
                {
                    @Html.DropDownList("UserSort",
                         new[]
                         {
                              new SelectListItem { Text="Relevance", Value= OrderByOptions.Relevance.ToString(), Selected = OrderByOptions.Relevance==Model.OrderBy },
                              new SelectListItem { Text="Newest first", Value= OrderByOptions.Newest.ToString(), Selected = OrderByOptions.Newest==Model.OrderBy },
                              new SelectListItem { Text="Oldest first", Value= OrderByOptions.Oldest.ToString(), Selected = OrderByOptions.Oldest==Model.OrderBy },
                              new SelectListItem { Text="New-modified first", Value= OrderByOptions.NewModified.ToString(), Selected = OrderByOptions.NewModified==Model.OrderBy }
                         }
                    )
                }
            </div>
            <div id="search-results">
                @foreach (var item in Model.Results)
                {
                    <div class="row" style="margin-bottom: 10px;">
                        <h3><a href="@item.GetValue("Link")">@item.GetValue("Title")</a></h3>
                        <p>@Html.Raw(item.GetValue("HighLighterResult"))</p>
                        <a href="@item.GetValue("Link")">@item.GetValue("Link")</a>
                    </div>
                }

                @if (Model.DisplayMode == ListDisplayMode.Paging && Model.TotalPagesCount != null && Model.TotalPagesCount > 1)
                {
                    @Html.Action("Index", "ContentPager", new
               {
                   currentPage = Model.CurrentPage,
                   totalPagesCount = Model.TotalPagesCount,
                   redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
               })
                }
            </div>

        </div>
    </div>
</section>