@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.CodeMirrorScriptReferences()

<div class="form-group nav-wrapper">
    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Inline'" />
        @Html.Resource("WriteJavaScript")
    </label>

    <label class="radio-inline">
        <input type="radio" ng-model="properties.Mode.PropertyValue" ng-value="'Reference'" />
        @Html.Resource("LinkToJavaScriptFile")
    </label>
</div>

<!-- Write JavaScript -->
<div class="sf-code clearfix" ng-cloak ng-show="properties.Mode.PropertyValue=='Inline'">
    <textarea sf-code-area
        sf-type="javascript"
        sf-tab-mode="classic"
        sf-line-numbers="true"
        sf-match-brackets="true"
        sf-model="properties.InlineCode.PropertyValue"
        placeholder="@Html.Resource("StartWritingJavaScript")"></textarea>

    <a class="pull-right sf-code-tips" href=""
        sf-popover-html=""
        sf-popover-placement="top"
        sf-popover-trigger="focus"
        sf-popover-content="<div>
                                <div class='small m-bottom-sm'>
                                  <p>
                                      @Html.Resource("DoNotAddScriptTag")
                                  </p>
                                  <p>
                                      <strong>@Html.Resource("Example")</strong><br/>
                                      @Html.Resource("JavaScriptCodeExample")
                                  </p>
                                </div>
                              </div>"
        sf-popover-title="@Html.Resource("Tips")">
        @Html.Resource("Tips")
    </a>
</div>

<!-- Link to JavaScript file -->
<div ng-show="properties.Mode.PropertyValue=='Reference'" ng-cloak class="form-group">
    <label>
        @Html.Resource("Url")
    </label>
    <sf-file-url-field sf-model="properties.FileUrl.PropertyValue" sf-extension="js" sf-title='@Html.Resource("SelectJsFile")'></sf-file-url-field>
</div>


<expander expander-title='@Html.Resource("MoreOptions")'>
    <div class="form-group">
        <strong>@Html.Resource("WhereToInclude")</strong>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="properties.Position.PropertyValue" ng-value="'Head'" />

                @Html.Resource("IncludedInTheHead")
            </label>
        </div>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="properties.Position.PropertyValue" ng-value="'InPlace'" />

                @Html.Resource("IncludedWhereDropped")
            </label>
        </div>
        <div class="radio">
            <label class="full-width">
                <input type="radio" ng-model="properties.Position.PropertyValue" ng-value="'BeforeBodyEndTag'" />

                @Html.Resource("IncludedBeforeTheBodyEnd")
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Resource("Description")</label>
        <input type="text" ng-model="properties.Description.PropertyValue" class="form-control" />
        <div class="text-muted">@Html.Resource("ForYourConvenience")</div>
    </div>
</expander>