@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Notifications;
@using Telerik.Sitefinity.Security;
@using Telerik.Sitefinity.Security.Web.UI;
@using Telerik.Sitefinity.Configuration;
@using Telerik.Sitefinity.Security.Claims;

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="@Html.Resource("General")">
        <div class="form-group">
            <label>@Html.Resource("Provider")</label>
            <p class="description-note">@Html.Resource("ProviderDescription")</p>
            <div class="row">
                <div class="col-xs-6">
                    <select ng-model="properties.MembershipProviderName.PropertyValue" class="form-control">
                        @foreach (var providerName in UserManager.ProvidersCollection)
                        {
                            <option value="@providerName">@providerName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>@Html.Resource("Roles")</label>
            <p class="description-note">@Html.Resource("RolesDescription")</p>

            <sf-list-selector sf-role-selector sf-selected-items="rolesSelector.selectedItems" sf-multiselect="true"
                              sf-hide-roles="Owner, Anonymous, Authenticated, Everyone, Administrators, Authors, BackendUsers, Designers, Editors">
            </sf-list-selector>

        </div>

        <div class="form-group">
            <strong>@Html.Resource("FormSuccessfullySubmited")</strong>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.SuccessfulRegistrationAction.PropertyValue" value="ShowMessage">@Html.Resource("ShowMsg")
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.SuccessfulRegistrationAction.PropertyValue" value="RedirectToPage">@Html.Resource("OpenPage")
                </label>
                <sf-list-selector class="label-content"
                                  sf-page-selector
                                  sf-selected-item-id="properties.SuccessfulRegistrationPageId.PropertyValue"
                                  ng-show="properties.SuccessfulRegistrationAction.PropertyValue == 'RedirectToPage'"></sf-list-selector>
            </div>
        </div>

        @{
            var providers = ClaimsManager.CurrentAuthenticationModule.ExternalAuthenticationProviders.Where(x => x.Enabled == true && !string.IsNullOrEmpty(x.Name)).ToList();
            if (providers.Count() != 0)
            {
                <div class="form-group">
                    <strong>@Html.Resource("ExternalProvidersRegiterOptions")</strong>
                    @foreach (var provider in providers)
                    {
                        <div class="checkbox">
                            <label>
                                <input id="@provider.Title"
                                       type="checkbox"
                                       ng-change="updateExternalProvider('@provider.Title', '@provider.LinkCssClass', externalProviderSelector.selectedItems['@provider.Name'])"
                                       ng-checked="externalProviderSelector.selectedItems['@provider.Title']"
                                       ng-model="externalProviderSelector.selectedItems['@provider.Title']" />
                                @provider.Title
                            </label>
                        </div>
                    }
                </div>
            }
        }

        <div class="form-group">
            <label>@Html.Resource("LoginPage")</label>
            <p class="description-note">@Html.Resource("LoginPageInfo")</p>
            <sf-list-selector sf-page-selector
                              sf-selected-item-id="properties.LoginPageId.PropertyValue"></sf-list-selector>
        </div>

        <div class="form-group">
            <label for="templateName">@Html.Resource("Template")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames("Registration", @"Registration\.(?<viewName>\w*)$"))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="registrationCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="registrationCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>
        </expander>
    </uib-tab>
    <uib-tab heading="@Html.Resource("AccountActivation")">
        <div class="form-group">
            <strong>@Html.Resource("ActivateAccounts")</strong>
            <div class="radio">
                <label class="full-width">
                    <input type="radio" ng-model="properties.ActivationMethod.PropertyValue" value="Immediately" />
                    @Html.Resource("Immediately")

                    <div class="checkbox" ng-show="properties.ActivationMethod.PropertyValue === 'Immediately'">
                        <label for="activateWidthEmailInput">
                            <input id="activateWidthEmailInput" type="checkbox" ng-model="properties.SendEmailOnSuccess.PropertyValue"
                                   ng-true-value="'True'" ng-false-value="'False'"
                                   ng-disabled="properties.ActivationMethod.PropertyValue !== 'Immediately'" />
                            @Html.Resource("SendEmailAfterRegistration")
                        </label>
                    </div>

                </label>
            </div>
            <div class="radio">
                <label class="full-width">
                    <input type="radio" ng-model="properties.ActivationMethod.PropertyValue" value="AfterConfirmation" />
                    @Html.Resource("ByConfirmationEmail")
                </label>
            </div>
        </div>
        <div class="form-group" ng-show="properties.ActivationMethod.PropertyValue === 'Immediately'">
            <div class="row">
                <div class="col-xs-6">
                    <label>@Html.Resource("SuccessEmailTemplate")</label>
                    <select ng-model="properties.SuccessEmailTemplateId.PropertyValue" class="form-control">
                        @foreach (var template in EmailTemplateHelper.GetEmailTemplates(String.Format(@"ControlType == ""{0}"" && Condition==""Success""", typeof(RegistrationForm).FullName)))
                        {
                            <option value="@template.Key">@template.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="properties.ActivationMethod.PropertyValue === 'AfterConfirmation'">

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>@Html.Resource("ConfirmationEmailTemplate")</label>
                        <select ng-model="properties.ConfirmationEmailTemplateId.PropertyValue" class="form-control">
                            @foreach (var template in EmailTemplateHelper.GetEmailTemplates(String.Format(@"ControlType == ""{0}"" && Condition==""{1}""", typeof(RegistrationForm).FullName, RegistrationEmailType.Confirmation.ToString())))
                            {
                                <option value="@template.Key">@template.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label>@Html.Resource("ActivationPage")</label>
                <p class="description-note">@Html.Resource("ActivationPageDescription")</p>
                <sf-list-selector sf-page-selector
                                  sf-selected-item-id="properties.ConfirmationPageId.PropertyValue"></sf-list-selector>

            </div>
        </div>
    </uib-tab>
</uib-tabset>