@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;

<div class="@Model.CssClass">
    @using (Html.BeginFormSitefinity())
    {
        @Html.ValidationSummary(true, "Registration failed - check your inputs");
        <div class="error">@ViewBag.Error</div>
        
        <ol>
            <li>
                <label>@Html.Resource("FirstName")</label>
                <input type="text" name='Profile[FirstName]' value='@Model.Profile.GetValueOrDefault("FirstName")' />
            </li>
            <li>
                <label>@Html.Resource("LastName")</label>
                <input type="text" name='Profile[LastName]' value='@Model.Profile.GetValueOrDefault("LastName")' />
            </li>
            <li>
                <label>@Html.Resource("Email")</label>
                @Html.EditorFor(m => m.Email)
            </li>
            <li>
                <label>@Html.Resource("UserName")</label>
                @Html.EditorFor(m => m.UserName)
            </li>
            <li>
                <label>@Html.Resource("Password")</label>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <label>@Html.Resource("ReTypePassword")</label>
                @Html.PasswordFor(m => m.ReTypePassword)
            </li>
        </ol>
        <div>
            <input type="submit" value="@Html.Resource("Register")" />
        </div>
    }

    <a href="@Model.LoginPageUrl">@Html.Resource("BackToLogin")</a>
</div>