@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Frontend.Identity.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(ScriptRef.JQueryValidate, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/JQueryValidate/jquery.validate.unobtrusive.min.js"), "top", false)
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="@Model.CssClass">
    @if ((Request.QueryStringGet("ShowActivationMsg") == "true") ||
             (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg))
    {
        <h3>
            @Html.Resource("VisitYourEmail")
        </h3>

        <p>@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
        <a href="javascript:void(0)" data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</a>

        <div data-sf-role="confirmationResendInfo" style="display:none;">
            @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
        </div>

        <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email})" />
        @Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"), "bottom", throwException: false)
    }
    else if ((Request.QueryStringGet("ShowSuccessfulRegistrationMsg") == "true") ||
     (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg))
    {
        <h3>@Html.Resource("ThankYou")</h3>
        <p>@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>

    }
    else
    {
        using (Html.BeginFormSitefinity(true))
        {
            @Html.ValidationSummary(true);

            <h3>@Html.Resource("Registration")</h3>

            @ViewBag.Error

            @Html.HiddenFor(m => m.RequiresQuestionAndAnswer)

            <div>
                <label>
                    @Html.Resource("FirstName")
                    @Html.TextBox("Profile[FirstName]", null, HtmlHelper.ClientValidationEnabled ? RegistrationHelper.GetProfileValidationAttributes("FirstName") : null)
                </label>
                @Html.ValidationMessage("Profile[FirstName]")
            </div>
            <div>
                <label>
                    @Html.Resource("LastName")
                    @Html.TextBox("Profile[LastName]", null, HtmlHelper.ClientValidationEnabled ? RegistrationHelper.GetProfileValidationAttributes("LastName") : null)
                </label>
                @Html.ValidationMessage("Profile[LastName]")
            </div>

            <div>
                <label>
                    @Html.Resource("Email")
                    @Html.TextBoxFor(m => m.Email, new { type = "email" })
                </label>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                <label>
                    @Html.Resource("Password")
                    @Html.PasswordFor(m => m.Password)
                </label>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <label>
                    @Html.Resource("ReTypePassword")
                    @Html.PasswordFor(m => m.ReTypePassword)
                </label>
                @Html.ValidationMessageFor(m => m.ReTypePassword)
            </div>
            if (Model.RequiresQuestionAndAnswer)
            {
                <div>
                    <label>
                        @Html.Resource("Question")
                        @Html.TextBoxFor(m => m.Question)
                    </label>
                    @Html.ValidationMessageFor(m => m.Question)
                </div>
                <div>
                    <label>
                        @Html.Resource("Answer")
                        @Html.TextBoxFor(m => m.Answer)
                    </label>
                    @Html.ValidationMessageFor(m => m.Answer)
                </div>
            }
            <div>
                @if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
                {
                    <input type="button" value="@Html.Resource("Register")" disabled />
                }
                else
                {
                    <input type="submit" value="@Html.Resource("Register")" @(SystemManager.IsDesignMode ? "disabled" : "") />
                }
            </div>

            if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
            {
                <h3>@Html.Resource("ConnectWith")</h3>

                foreach (var provider in Model.ExternalProviders)
                {
                    <div>
                        @Html.ActionLink(provider.Key, "LoginExternalProvider", new { model = provider.Key }, new { @class = provider.Value })
                    </div>
                }
            }

            <div>
                <a href="@Model.LoginPageUrl">@Html.Resource("BackToLogin")</a>
            </div>
        }
    }
</div>