@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@using Telerik.Sitefinity.UI.MVC;

<div class="@Model.CssClass">
   @using (Html.BeginFormSitefinity("PostRegistration", "RegistrationForm"))
    {
        @Html.ValidationSummary(true, "Registration failed - check your inputs");
     
        <ol>
            <li>
                <label>@Html.Resource("FirstName")</label>
                <input type="text" name="firstName" />
            </li>
            <li>
                <label>@Html.Resource("LastName")</label>
                <input type="text" name="lastName" />
            </li>
            <li>
                <label>@Html.Resource("Email")</label>
                <input type="email" name="Email" />
            </li>
            <li>
                <label>@Html.Resource("Username")</label>
                <input type="text" name="UserName" required="required" />
            </li>
            <li>
                <label>@Html.Resource("Password")</label>
                <input type="password" name="Password" required="required" />
            </li>
            <li>
                <label>@Html.Resource("ReTypePassword")</label>
                <input type="password" name="reTypePswd" />
            </li>
        </ol>
   }
    <div>
        <input type="submit" value="@Html.Resource("Register")" />
    </div>
</div>