@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery)
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<div class="@Model.CssClass">
    @if (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg)
    {
        <h3>
            @Html.Resource("VisitYourEmail")
        </h3>

        <p>@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
        <a data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</a>

        <div data-sf-role="confirmationResendInfo" style="display:none;">
            @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
            <a data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</a>
        </div>

        <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email})" />
    }
    else if (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg)
    {
        <h3>@Html.Resource("ThankYou")</h3>
        <p>@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>

    }
    else
    {
        using (Html.BeginFormSitefinity())
        {
            @Html.ValidationSummary(true);
            @ViewBag.Error

            <div>
                <label>
                    @Html.Resource("FirstName")
                    @Html.TextBox("Profile[FirstName]")
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("LastName")
                    @Html.TextBox("Profile[LastName]")
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("Email")
                    @Html.TextBoxFor(m => m.Email)
                </label>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                <label>
                    @Html.Resource("UserName")
                    @Html.TextBoxFor(m => m.UserName)
                </label>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                <label>
                    @Html.Resource("Password")
                    @Html.PasswordFor(m => m.Password)
                </label>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <label>
                    @Html.Resource("ReTypePassword")
                    @Html.PasswordFor(m => m.ReTypePassword)
                </label>
                @Html.ValidationMessageFor(m => m.ReTypePassword)
            </div>

            <div>
                <input type="submit" value="@Html.Resource("Register")" />
            </div>
         }

        <a href="@Model.LoginPageUrl">@Html.Resource("BackToLogin")</a>
    }
</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"))