@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery)
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<div class="@Model.CssClass">
    @if (ViewBag.ShowActivationMsg)
    { 
        <h1>
            @Html.Resource("VisitYourEmail")
        </h1>
        <div>
            @string.Foramt(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)
            <a>@Html.Resource("SendAgain")</a>
        </div>
    }
    else if (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg)
    { 
        <div>@Html.Resource("DefaultSuccessfulRegistrationMessage")</div>
    }
    else
    {
        using (Html.BeginFormSitefinity())
        {
            @Html.ValidationSummary(true);
            <div class="error">@ViewBag.Error</div>
        
            <ol>
                <li>
                    @Html.Label("Profile[FirstName]", Html.Resource("FirstName"))
                    @Html.Editor("Profile[FirstName]")
                </li>
                <li>
                    @Html.Label("Profile[LastName]", Html.Resource("LastName"))
                    @Html.Editor("Profile[LastName]")
                </li>
                <li>
                    @Html.LabelFor(m => m.Email, Html.Resource("Email"))
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.UserName, Html.Resource("UserName"))
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password, Html.Resource("Password"))
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ReTypePassword, Html.Resource("ReTypePassword"))
                    @Html.PasswordFor(m => m.ReTypePassword)
                    @Html.ValidationMessageFor(m => m.ReTypePassword)
                </li>
            </ol>
            <div>
                <input type="submit" value="@Html.Resource("Register")" />
            </div>
        }

        <a href="@Model.LoginPageUrl">@Html.Resource("BackToLogin")</a>
    }
</div>