@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div class="@Model.CssClass">
    @if (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg)
    {
        <h3>
            @Html.Resource("VisitYourEmail")
        </h3>

        <p role="alert">@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
        <button data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</button>

        <div data-sf-role="confirmationResendInfo" style="display:none;">
            @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
            <button data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</button>
        </div>

        <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email})" />
    }
    else if (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg)
    {
        <h3>@Html.Resource("ThankYou")</h3>
        <p role="alert">@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>

    }
    else
    {
        using (Html.BeginFormSitefinity(null, null, (System.Web.Routing.RouteValueDictionary)null, FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "aria-label", "Registration" } }, true ))
        {
            @Html.ValidationSummary(true);
            if (!String.IsNullOrEmpty(ViewBag.Error))
            {
                <div role="alert"> @ViewBag.Error</div>
            }
           

            <div>
                <label>
                    @Html.Resource("FirstName")
                    @Html.TextBox("Profile[FirstName]")
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("LastName")
                    @Html.TextBox("Profile[LastName]")
                </label>
            </div>
            <div>
                <label>
                    @Html.Resource("Email")
                    @Html.TextBoxFor(m => m.Email, new { type = "email", aria_required="true" })
                </label>

                @Html.ValidationMessageFor(m => m.Email, null, new { role="alert" })                
            </div>
            if (!Model.EmailAddressShouldBeTheUsername)
            {
                <div>
                    <label>
                        @Html.Resource("UserName")
                        @Html.TextBoxFor(m => m.UserName, new { aria_required="true" })                        
                    </label>

                    @Html.ValidationMessageFor(m => m.UserName, null, new { role="alert" })
                </div>
            }
            <div>
                <label>
                    @Html.Resource("Password")
                    @Html.PasswordFor(m => m.Password, new { aria_required="true" })                    
                </label>

                @Html.ValidationMessageFor(m => m.Password, null, new { role="alert" })
            </div>
            <div>
                <label>
                    @Html.Resource("ReTypePassword")
                    @Html.PasswordFor(m => m.ReTypePassword, new { aria_required="true" })                    
                </label>

                @Html.ValidationMessageFor(m => m.ReTypePassword, null, new { role="alert" })
            </div>

            <div>
                @if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
                {
                    <input type="button" value="@Html.Resource("Register")" />
                }
                else
                {
                    <input type="submit" value="@Html.Resource("Register")" />
                }
            </div>
            
            <a href="@Model.LoginPageUrl">@Html.Resource("BackToLogin")</a>
         }
    }
</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"), "bottom", false)
