@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script("Telerik.Sitefinity.Web.UI.QueryBuilder", "Telerik.Sitefinity.Web.UI.QueryBuilder.Scripts.QueryData.js")
@Html.Script("Telerik.Sitefinity.Web.UI.QueryBuilder", "Telerik.Sitefinity.Web.UI.QueryBuilder.Scripts.QueryDataItem.js")
@Html.Script("Telerik.Sitefinity.Web.UI.QueryBuilder", "Telerik.Sitefinity.Web.UI.QueryBuilder.Scripts.QueryItem.js")
@Html.Script("Telerik.Sitefinity.Web.UI.QueryBuilder", "Telerik.Sitefinity.Web.UI.QueryBuilder.Scripts.QueryGroup.js")
@Html.Script("Telerik.Sitefinity.Web.UI.QueryBuilder", "Telerik.Sitefinity.Web.UI.QueryBuilder.Scripts.QueryBuilder.js")

<server-data default-provider-name='@Html.DefaultProviderName(Telerik.Sitefinity.Modules.Libraries.LibrariesManager.GetManager())'>
</server-data>

<tabset class="nav-tabs-wrapper">
    <tab heading="@Html.Resource("Content")">
        <h4>@Html.Resource("ItemsToDisplay")</h4>
        <sf-provider-selector class="m-bottom-sm" sf-manager-type='Telerik.Sitefinity.Modules.Libraries.LibrariesManager'
            sf-provider-label='@Html.Resource("Provider")'
            ng-model="properties.ProviderName.PropertyValue">
        </sf-provider-selector>

        <div class="form-group">
            <div class="radio">
                <label class="full-width">
                    <input type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="All" />

                    @Html.Resource("AllPublishedImages")
                </label>
            </div>
            <div class="radio">
                <label class="full-width">
                    <input type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="Selected" />
                    @Html.Resource("FromSelectedLibraries")
                </label>

                <sf-list-selector sf-library-selector ng-show="properties.ParentFilterMode.PropertyValue=='Selected'"
                                sf-multiselect="true" sf-sortable="true" sf-master="true"
                                sf-provider="properties.ProviderName.PropertyValue"
                                sf-selected-ids="parentSelector.selectedItemsIds"></sf-list-selector>

                <label ng-show="properties.ParentFilterMode.PropertyValue=='Selected'">
                    <input type="checkbox" />
                    @Html.Resource("IncludeImagesFromChildLibraries")
                </label>
            </div>
            <div class="radio form-inline">
                <label>
                    <input type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="CurrentlyOpen" />

                    @Html.Resource("FromCurrentlyOpen")
                </label>
            </div>
        </div>

        <expander expander-title='@Html.Resource("NarrowSelection")' start-expanded='false' ng-show="properties.SelectionMode.PropertyValue!='SelectedItems'">
            <div class="radio m-top-none">
                <label class="full-width">
                    <input type="radio" ng-model="properties.SelectionMode.PropertyValue" value="AllItems" />
                    @Html.Resource("AllPublishedImages")
                </label>
            </div>
            <div class="radio">
                <label class="full-width">
                    <input type="radio" ng-model="properties.SelectionMode.PropertyValue" value="FilteredItems" />
                    @Html.Resource("SelectionOfImages")
                </label>
                <sf-filter-selector sf-query-data="additionalFilters.value"
                    sf-taxonomy-fields="@CustomFieldsHelpers.GetTaxonomyFields(typeof(Telerik.Sitefinity.Libraries.Model.Image))"
                    sf-provider="properties.ProviderName.PropertyValue"
                    ng-show="properties.SelectionMode.PropertyValue=='FilteredItems'"
                    class="sf-filter-selector"></sf-filter-selector>
            </div>
        </expander>
    </tab>

    <tab heading="@Html.Resource("ListSettings")">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Paging" />
                </label>
                <strong>@Html.Resource("UsePaging")</strong><br />

                <span>
                    @Html.Raw(String.Format(Html.Resource("DivideToItemPerPage"),
                    "<input type='text' style='width: 40px' ng-disabled='properties.DisplayMode.PropertyValue!=\"Paging\"' ng-model='properties.ItemsPerPage.PropertyValue'/>"))
                </span>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Limit" />
                </label>
                <strong>@Html.Resource("UseLimit")</strong><br />

                <span>
                    @Html.Raw(String.Format(Html.Resource("ShowLimitedItems"),
                    "<input type='text' style='width: 40px' ng-disabled='properties.DisplayMode.PropertyValue!=\"Limit\"' ng-model='properties.ItemsPerPage.PropertyValue'/>"))
                </span>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.DisplayMode.PropertyValue" value="All" />
                </label>
                <strong>@Html.Resource("NoLimitPaging")</strong><br />

                <span>@Html.Resource("ShowAllItems")</span>
            </div>
        </div>

        <div  class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>
                        @Html.Resource("SortItems")
                        <select id="sortOptions" ng-model="selectedSortOption" class="form-control" ng-change="updateSortOption(selectedSortOption)">
                            <option value="PublicationDate DESC"> @Html.Resource("LastPublished")</option>
                            <option value="LastModified DESC"> @Html.Resource("LastModified")</option>
                            <option value="Title ASC"> @Html.Resource("ByTitleAZ")</option>
                            <option value="Title DESC"> @Html.Resource("ByTitleZA")</option>
                            <option value="AsSetManually"> @Html.Resource("AsSetManually")</option>
                            <option value="Custom"> @Html.Resource("AsSetInAdvancedMode")</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>
                        @Html.Resource("ThumbnailSize")
                        <div sf-thumbnail-size-selection sf-model="thumbnailSizeModel"></div>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>
                @Html.Resource("ListTemplate")

                <div class="row">
                    <div class="col-xs-6">
                        <select ng-model="properties.ListTemplateName.PropertyValue" class="form-control">
                             @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).Controller, @"List\.(?<viewName>[\w\s]*)$"))
                             {
                                 <option value="@viewName"> @viewName</option>
                             }
                        </select>
                    </div>
                </div>
            </label>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.ListCssClass.PropertyValue" view-name="properties.ListTemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label>
                    @Html.Resource("CssClasses")
                    <input type="text" ng-model="properties.ListCssClass.PropertyValue" class="form-control" />
                </label>
            </div>
        </expander>
    </tab>

    <tab heading="@Html.Resource("SingleItemSettings")">
        <div class="form-group">
            <strong>@Html.Resource("OpenSingleItem")</strong>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.OpenInSamePage.PropertyValue" value="True" />
                    <span>
                        @Html.Resource("ShowInSamePage")
                    </span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="properties.OpenInSamePage.PropertyValue" value="False" />
                    @Html.Resource("ShowInExistingPage")
                </label>
                <div class="label-content">
                    <sf-list-selector
                            sf-page-selector
                            sf-selected-item-id="properties.DetailsPageId.PropertyValue"
                            ng-hide="properties.OpenInSamePage.PropertyValue == 'True'"></sf-list-selector>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>
                        @Html.Resource("ImageSize")

                        <div sf-thumbnail-size-selection sf-model="imageSizeModel"></div>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group m-top-md row">
            <div class="col-xs-6">
                <label>
                    @Html.Resource("DetailTemplate")

                    <select ng-model="properties.DetailTemplateName.PropertyValue" class="form-control">
                         @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).Controller, @"Detail\.(?<viewName>[\w\s]*)$"))
                         {
                             <option value="@viewName"> @viewName</option>
                         }
                    </select>
                </label>
            </div>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.DetailCssClass.PropertyValue" view-name ="properties.DetailTemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label>
                    @Html.Resource("CssClasses")
                    <input type="text" ng-model="properties.DetailCssClass.PropertyValue" class="form-control" />
                </label>
            </div>
        </expander>
    </tab>
</tabset>
