@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

@Html.StyleSheet(Url.WidgetContent("assets/magnific/magnific-popup.css"), "head", false)

@Html.Script(Url.WidgetContent("assets/magnific/jquery.magnific-popup.min.js"), "bottom", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/ImageGallery/overlay-gallery.js"), "bottom", false)

<div class="@Model.CssClass">
    @foreach (var item in Model.Items)
    {
        var thumbnailViewModel = (ThumbnailViewModel)item;
        
        <a class="image-link"
            href="@(thumbnailViewModel.MediaUrl)"
            title="@item.Fields.AlternativeText">
            <img src="@(thumbnailViewModel.ThumbnailUrl)" 
                 data-detail-url="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix)" 
                 alt="@item.Fields.AlternativeText"
                      @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
                      @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) @Html.GetDetailsImageWidthAttributeIfExists(thumbnailViewModel.DetailsImageWidth) />
        </a>
    }
</div>

@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
       {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
       })
}