@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using System.Web.Script.Serialization;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@using System.Linq;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/ImageGallery/thumbnail-strip.js"), "bottom", false)

@{
    bool hasItems = Model.Items.Count() > 0;
    bool isBackendDesignMode = SystemManager.IsDesignMode && !SystemManager.IsPreviewMode;
    dynamic firstItem = null;

    if (hasItems && isBackendDesignMode)
    {
        firstItem = Model.Items.FirstOrDefault();
    }

    ThumbnailViewModel thumbnailViewModel = (ThumbnailViewModel)firstItem;
}

@if (hasItems)
{
        if (isBackendDesignMode)
        {
    <h2 class="js-Gallery-title">@firstItem.DataItem.Title</h2>

    <p class="js-Gallery-description">@firstItem.DataItem.Description</p>

    <div><span class="js-Gallery-index">1</span> of @Model.Items.Count()</div>

    <p class="js-Gallery-image">
        <a href="javascript:void(0)" class='js-Gallery-prev'>Prev</a>
        <a href="javascript:void(0)" class='js-Gallery-next'>Next</a>
        <img src="@(thumbnailViewModel.MediaUrl)" title="@firstItem.DataItem.Title" alt="@firstItem.DataItem.AlternativeText" 
                  @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
                  @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) />
    </p>
        }
        else
        {
    <h2 class="js-Gallery-title"></h2>

    <p class="js-Gallery-description"></p>

    <div><span class="js-Gallery-index"></span> of @Model.Items.Count()</div>

    <p class="js-Gallery-image">
        <a href="javascript:void(0)" class='js-Gallery-prev'>Prev</a>
        <a href="javascript:void(0)" class='js-Gallery-next'>Next</a>
        <img />
    </p>
    }
}


<div class="js-Gallery-thumbs">
@foreach(var item in Model.Items)
{
    var itemViewModel = (ThumbnailViewModel)item;
    
    <a href="javascript:void(0)" title="@item.Fields.Title" data-item="@Html.GetSerializedImage(item)" data-detail-url="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix)">
        <img src="@(itemViewModel.ThumbnailUrl)" alt="@item.Fields.AlternativeText" 
                      @Html.GetWidthAttributeIfExists(itemViewModel.Width)
                      @Html.GetHeightAttributeIfExists(itemViewModel.Height) />
    </a>
}
</div>
@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
       {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
       })
}