@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using System.Web.Script.Serialization;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@using System.Linq;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/ImageGallery/thumbnail-strip.js"), "bottom", false)

@{
    bool hasItems = Model.Items.Count() > 0;
    bool isBackendDesignMode = SystemManager.IsDesignMode && !SystemManager.IsPreviewMode;
    dynamic firstItem = null;

    if (hasItems && isBackendDesignMode)
    {
        firstItem = Model.Items.FirstOrDefault();
    }
}

@if (hasItems)
{
        if (isBackendDesignMode)
        {
    <h2 class="js-Gallery-title">@firstItem.DataItem.Title</h2>

    <p class="js-Gallery-description">@firstItem.DataItem.Description</p>

    <div><span class="js-Gallery-index">1</span> of @Model.Items.Count()</div>

    <p class="js-Gallery-image">
        <a class='js-Gallery-prev'>Prev</a>
        <a class='js-Gallery-next'>Next</a>
        <img src="@(((ThumbnailViewModel)firstItem).MediaUrl)" title="@firstItem.DataItem.Title" alt="@firstItem.DataItem.AlternativeText" />
    </p>
        }
        else
        {
    <h2 class="js-Gallery-title"></h2>

    <p class="js-Gallery-description"></p>

    <div><span class="js-Gallery-index"></span> of @Model.Items.Count()</div>

    <p class="js-Gallery-image">
        <a class='js-Gallery-prev'>Prev</a>
        <a class='js-Gallery-next'>Next</a>
        <img />
    </p>
    }
}


<div class="js-Gallery-thumbs">
@foreach(var item in Model.Items)
{
    <a title="@item.Fields.Title" data-item="@Html.GetSerializedImage(item)" data-detail-url="@HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage)">
        <img src="@(((ThumbnailViewModel)item).ThumbnailUrl)" alt="@item.Fields.AlternativeText"/>
    </a>
}
</div>
