@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery)

<link rel="stylesheet" href='@Url.WidgetContent("assets/magnific/magnific-popup.css")'>
<script type="text/javascript" src='@Url.WidgetContent("assets/magnific/jquery.magnific-popup.min.js")'></script>

<div class="sf-Gallery clearfix @Model.CssClass">

    @foreach (var item in Model.Items)
    {
        <a @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)
           class="pull-left text-center image-link"
           href="@item.Fields.MediaUrl"
           title="@item.Fields.AlternativeText">
            <img src="@item.Fields.ThumbnailUrl" />
        </a>
    }

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
           {
               currentPage = Model.CurrentPage,
               totalPagesCount = Model.TotalPagesCount.Value,
               redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
           })
    }
</div>

<script type="text/javascript">
    $(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            },
        });
    });
</script>