@model System.Web.UI.Control

@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Helpers;
@using Telerik.Sitefinity.Licensing;
@using Telerik.Sitefinity.Modules.Newsletters;

@if (!EmailCampaignsExtensions.IsModuleActivated())
{
    <div class="alert alert-warning">@Html.Resource("NewslettersModuleDeactivatedMessage")</div>

    <script type="text/ng-template" section="modal-footer">
        <button class="btn btn-primary pull-left" data-dismiss="modal" ng-click="cancel()">@Html.Resource("Close")</button>
    </script>
}
else if (!LicenseState.CheckIsModuleLicensedInCurrentDomain(NewslettersModule.ModuleId))
{
    <div class="alert alert-warning">@Html.Resource("ModuleNotLicensed")</div>

    <script type="text/ng-template" section="modal-footer">
        <button class="btn btn-primary pull-left" data-dismiss="modal" ng-click="cancel()">@Html.Resource("Close")</button>
    </script>
}
else
{
    <div class="alert alert-danger ng-hide" ng-show="errors.missingSelectedItems">@Html.Resource("MissingMailingList")</div>
    <div class="alert alert-danger ng-hide" ng-show="errors.missingSelectedPage">@Html.Resource("MissingPage")</div>
    
    <div class="form-group">
        <strong>@Html.Resource("MailingList")</strong>

        <p class="text-muted">@Html.Resource("UsersSubscribeLists")</p>
        
        <sf-list-selector sf-mailing-list-selector
                            sf-selected-item-id="properties.SelectedMailingListId.PropertyValue"
                            sf-missing-selected-items="errors.missingSelectedItems"
                            class="sf-filter-selector">
        </sf-list-selector>
    </div>

    <div class="form-group">
        <strong>@Html.Resource("SuccessfullySubmittedLabel")</strong>
        <div class="radio">
            <label for="showAll">
                <input id="showAll" type="radio" ng-model="properties.SuccessfullySubmittedForm.PropertyValue" value="ShowMessage" />
                @Html.Resource("ShowMessageLabel")
            </label>
        </div>

        <div class="radio">
            <label for="specificPage">
                <input id="specificPage" type="radio" ng-model="properties.SuccessfullySubmittedForm.PropertyValue" value="OpenSpecificPage" />
                @Html.Resource("OpenSpecificPageLabel")
            </label>
            <div class="label-content">
                <sf-list-selector sf-page-selector
                                  sf-sortable="true"
                                  sf-selected-item-id="properties.PageId.PropertyValue"
                                  ng-show="properties.SuccessfullySubmittedForm.PropertyValue == 'OpenSpecificPage'"
                                  sf-missing-selected-items="errors.missingSelectedPage">
                </sf-list-selector>
            </div>

        </div>
    </div>



    <div class="form-group">
        <strong>@Html.Resource("TemplateLabel")</strong>
        <div class="row">
            <div class="col-md-6">
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames(((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController(), @"^SubscribeForm\.(?<viewName>[\w\s]*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>

        </div>

    </div>

<expander expander-title='@Html.Resource("MoreOptions")'>
    <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>

    <div class="form-group">
        <label for="cssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="cssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
    </div>
</expander>
}